/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Blue Theme
   =================== */

.header-container {
    border-bottom: 20px solid #264de4;
    position: fixed;
    width: 100%;
    top: 0px;
}

.footer-container,
.main aside {
    border-top: 20px solid #264de4;
}

.header-container,
.footer-container,
.main aside {
    background: #2965f1;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #264de4;
}

nav{
    display: none;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.subtitle{
    font-size: 1.1em;
    font-style: italic;
    font-weight: bolder;
}

.responsiveImg {
    margin: auto;
    max-width: 128px;
    border-radius: 50%;
    padding: 0px 20px 10px 10px;
}

.main header, .main section, .main footer{
    padding: 10px;
    margin-bottom: 20px;
}

.main header h1, .main section h2, .facultyContainer h4{
    background: #2965f1;
    color: white;
    padding: 10px;
    border-top: 20px solid #264de4;
}

.facultyContainer{
    padding: 5px;
    
}
.facultyImage{
    float: left;
    width: 30%;
    height: 30%;
    min-width: 180px;
    margin: auto;
    text-align: center;
}

aside a{
    color: white;
    text-decoration: none;
}

.footerLinks{
    float: right;
    text-align: right;
}

.footerLinks a{
    color: white;
    text-decoration: none;
}

#trigger{
    float: right;
    line-height: 10px;
    padding: 5px;
    height: 32px;
    width: 32px;
    position: fixed;
    margin: 5px 10px 0px 15px;
    cursor: pointer;
    cursor: hand;
    background-color: #264de4;
    border-radius: 21px;
    vertical-align: text-top;
    right: 10px;
    top: 10px;
}
.triggerLine{
    display: block;
    width: calc(100% - 9px);
    text-align: center;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    border-radius: 2px;
}
.main-container{
    margin-top: 40px;
}

#addToHomeScreen{
    display: block;
    margin-top: 20px;
    padding: 0px;
    display: none;
}

#addToHomeScreen img{
    max-width: 57px;
    margin: 10px;
    float: left;
}

#addToHomeScreen button{
    background-color: #264de4;
    color: white;
    border: 1px #2965f1 solid;
    margin: 5px 10px;
}

#instructions{
    text-align: center;
    background-color: #f2f4f4;
    position: fixed;
    bottom: 0px;
    right: 20px;
    left: 20px;
    width: calc(100%-40px);
    padding: 0px 10px 10px 10px;
    display: none;
}

#instructions img{
    max-width: 64px;
}

#instructions button{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #264de4;
    color: white;
    border: 1px #2965f1 solid;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    #trigger{
        display: block;
    }
    

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside,
    .main header,
    .main section,
    .main footer {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
        display: block !important;
    }
    #trigger{
        display: none;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
    
    .main-container{
        margin-top: 100px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}