body {
	margin: 0px;
	padding: 0px;
	background: url(../img_0/header-bg2.png) repeat-x scroll 0 0;
	background-color: #E9E9E9;
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Sans-Serif;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 12px;
	font-weight: normal;
}

form {
	padding: 0px;
	margin: 0px;
}  /* ker IE nardi razmake */
.wait,.wait * {
	cursor: progress !important;
}

a,a:hover {
	color: blue;
	text-decoration: none;
}

.body_folders {
	background: #F0F7FF;
}

/*url(img_0/header-bg2.png) repeat-x scroll 0 0; #E9E9E9;*/
.body_anketa {
	background-color: #E8E9FF;
}

.body_library {
	background-color: #FAF0F3;
}

.baseText {
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: normal;
}

.clr {
	clear: both;
	padding: 0px;
	margin: 0px;
	height: 0px;
}

.floatLeft {
	float: left;
	display: block;
	width: auto;
}

.floatRight {
	float: right;
	display: block;
	width: auto;
}

.spaceLeft {
	margin-left: 8px;
}

.spaceRight {
	margin-right: 8px;
}

.taLeft {
	text-align: left;
}

.taRight {
	text-align: right;
}
.taCenter {
	text-align: center;
}

.hidden {
	display: none;
}

.visibility_hidden {
	visibility: hidden;
}

.pointer {
	cursor: pointer;
}

.movable,.move {
	cursor: move;
}

.finger {
	cursor: pointer;
}

.bold,.strong {
	font-weight: bold;
}
.autoWidth, .autoWidth p {width: auto;}
.red {
	color: #990000 !important;
}

.lightRed {
	color: red !important;
}

.blue {
	color: blue !important;
}

.purple {
	color: purple !important;
}

.gray {
	color: gray !important;
}
.silver {
	color: silver !important;
}

.green,.green a {
	color: green !important;
}

.clr_if {
	color: #0F4FA8 !important;
}

.clr_q {
	color: #6FAD2B !important;
}

.clr_q_text {
	color: black !important;
}

.clr_page {
	color: gray !important;
}

.clr_bl {
	color: purple !important;
}

.link_no_decoration a,.link_no_decoration a:hover,.link_no_decoration a:visited
	{
	color: blue;
	text-decoration: none;
}
.as_link{ color:blue; display: inline; cursor:pointer;}
.as_link:hover{color:#990000;}

.fullWidth {
	width: 100%;
}
.halfWidth {
	width: 50%;
}

#logo {
	position: absolute;
	top: 19px;
	left: 5px;
}

#enka_logo {
	width: 90px
}

.colorif {
	color: #6c90c1;
}

.colorblock {
	color: #a456a4;
}

.colorvariable {
	color: #66a75f;
	font-weight: bold;
}

input,select,textarea {
	vertical-align: middle;
	font-size: 9px;
	font-family: Verdana, Arial, Sans-Serif;
}

label {
	vertical-align: middle;
}

textarea {
	width: 40%;
}

#naslov_edit_box {
	width: 300px;
}

.naslnput {
	width: 80%
}

textarea.vrednostinput,textarea.input_text {
	height: 14px;
	line-height: 14px;
}

textarea.input_text {
	width: 20%;
}

.vrednostinput {
	width: 50%;
}

.variableinput {
	width: 40px;
	padding-top: 0px;
	vertical-align: top;
	margin-top: -10px;
}

.variableinput_noborder {
	border: none;
}

textarea.naslovinput {
	width: 80%;
	height: 100px;
}

textarea.texting {
	width: 50%;
	height: 100px;
}

.texteditor {
	width: 98% !important;
	height: 50px;
	margin-top: 0;
	border: 1px solid #cccccc;
}

.texteditor.info {
	height: 14px;
	line-height: 14px;
	width: 100%;
}

.editor_display {
	width: 98%;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	border-bottom: 0;
}

.editor_display_spacer {
	background: url(../img_0/editor_display_spacer.png) no-repeat scroll 0 0;
	width: 40px;
}

.editor_display_small {
	padding-left: 5px;
}

.highlight {
	font-weight: bold;
}

.labela {
	float: left;
	width: 40%;
}

.vsebina {
	float: left;
	width: 60%;
}

.header_holder,.header_holder3 {
	width: 100%;
	background-color: #f0f0f0;
	border-bottom: #d2d5d5;
	height: 30px;
}

.header_holder_2 {
	width: 100%;
}
.header_holder_2 .header_right {padding:10px 35px 0px 0px;}
.header_holder_2 .header_left {padding:10px 0px 0px 3px;}

.header_holder_3 {
	width: 100%;
	height: 30px;
	background-color: #E8E9FF;
}

.header_holder_3_left {
	float: left;
	min-width: 500px;
	border: 1px solid red;
	height: 100%;
	background-color: #f0f0f0;
}

.header_holder_3_right {
	float: right;
	width: auto;
	height: 100%;
}

.header_content {
	padding: 8px 0px 7px 0px;
}

.header_left {
	width: auto;
	float: left;
	padding-left: 10px;
}

.header_right {
	width: auto;
	float: right;
	padding-right: 10px;
}

.header_holder .header_left,#branching_header_left .header_left,.header_content .header_left
	{
	font-size: 16px;
	font-weight: bold;
}

.down {
	line-height: 16px;
	vertical-align: bottom;
	padding-top: 2px;
}

span#allpages {
	float: right;
	clear: both;
	padding-right: 10px;
}

.grupa,fieldset_page {
	border: 1px solid #999;
	width: 75%;
	margin: 10px 10px 10px 20px;
	padding: 10px 2px 10px 10px;
}

.grupa h3,fieldset_page h3 {
	border: 0;
	margin: 0;
	padding: 0;
}

.fieldset_page legend {
	display: block;
	color: gray;
	width: auto;
}

.page_edit {
	padding: 0px 10px;
	width: auto;
}

.page_edit img {
	vertical-align: top;
}

.noMargin {
	margin: 0;
	padding: 0;
}

#nova_grupa {
	margin-left: 10px;
}

.grupa:hover {
	background-color: #efefef;
}

.grupahover {
	background-color: green !important;
}

.nova_grupa_before {
	position: absolute;
	margin-top: -20px;
	margin-left: -23px;
	width: 15px;
	height: 40px;
}

.active {
	background-color: #efefef;
}

.spremenljivka {
	width: 100%;
}

.spremenljivka_content {
	border: 1px solid #999;
	width: 95% !important;
	margin: 2px 10px 10px 10px;
	padding: 0px;
	background-color: #ffffff;
}

.spremenljivka_content:hover {
	background-color: #FAFFF0;
}

.spremenljivka_settings {
	border-bottom: 1px solid #e2e2e2;
	padding: 2px 5px 0px 5px;
	background-color: #fafff0;
	min-height: 22px;
}

.spremenljivka_settings_active {
	background-color: #eafada;
}

.spremenljivka_tip_form {
	padding: 10px 5px 5px 10px;
}

.spremenljivka_tip_label {
	padding: 2px 0px 0px 0px;
}

.spremenljivka_tip_selectbox {
	padding: 0px 5px 0px 5px;
	width: auto;
}

.spremenljivka_tip_selectbox_img {
	padding-left: 5px;
	vertical-align: middle;
	width: 10px;
}

.spremenljivka_tekst_form {
	padding: 10px 5px 5px 10px;
}

.spremenljivka_tip_content {
	padding: 5px 5px 5px 10px;
}

.spremenljivka_tip_other {
	padding: 5px 5px 5px 10px;
}

.spremenljivka_other_fields a {
	text-decoration: none;
	color: black;
}

.variable_name {
	float: left;
	font-size: 12px;
	color: gray;
	padding: 4px;
}

.variable_name_edit {
	padding-top: 2px;
}

.variable_error {
	float: left;
	color: red;
	width: auto;
	padding: 4px;
}

/*div za vrivanje vprasanj pri formah (simple)*/
.vrivanje {
	width: 95%;
	margin: -8px 10px 2px 10px;
	padding: 1px 2px 5px 12px;
	height: 10px;
}

.empty_vrivanje {
	height: 80px;
	background-color: #F9F9F9;
	margin-top: 20px;
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.vrivanje-hover {
	min-height: 35px;
	margin-bottom: 10px;
	margin-top: 5px;
	/*background-color:  #E4E4E4;*/
	border: 1px #444444 dashed;
}

.forma_bottom {
	width: 95%;
	margin: 2px 10px 10px 10px;
	padding: 10px;
	text-align: center;
	font-size: 12px;
}

.forma_bottom_inner {
	text-align: center;
	width: 580px;
	margin-left: auto;
	margin-right: auto;
}

.content_status {
	border: none;
	padding: 2px;
}

.content_status span {
	display: inline-table;
}

.content_div_normalmode {
	padding: 10px 5px;
	cursor: pointer;
}

.content_div {
	font-size: 12px;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
}

.content_div div p {
	margin: 0;
	padding: 5px 0px;
}

.comment {
	font-style: italic;
	color: #999666;
	width: auto;
	padding-right: 10px;
	padding-top: 3px;
	display: block;
	float: left;
}

.counter {
	float: left;
	width: auto;
	padding-top: 5px;
	display: block;
}

.if_comment {
	font-style: italic;
	color: #999666;
	width: auto;
	margin: 0px 3px;
}

.naslov {
	width: auto;
	min-width: 100px;
	display: block;
	padding-top: 3px;
}

.variable_holder {
	padding: 0px 0px 0px 30px;
	vertical-align: top;
	margin: 0px;
	display: block;
}

.variable_holder select {
	margin-top: 5px;
}

.variabla {
	padding: 0px 5px;
}

.variabla_vsota {
	padding: 0px 5px;
	width: 25%;
	text-align: right;
}

.spremenljivka_content h3,.spremenljivka_content h3 p,.spremenljivka_content form,.spremenljivka_content span,.spremenljivka_content p
	{
	margin: 0;
	padding: 0;
	border: 0;
}

.spremenljivka_content input {
	margin-top: 3px;
	margin-bottom: 3px;
}

.spremenljivka_content p {
	padding: 3px;
}

div.spremenljivka_content h3 p {
	padding: 3px 3px 3px 3px;
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0;
}

.spremenljivka_info {
	font-size: 9px;
	color: #666666;
	padding: 2px;
}

.spremenljivka_content.active {
	background-color: #FAFFF0;
}

.branchborder.editing {
	background-color: #E4E4E9;
	position: relative;
}

#nova_spremenljivka {
	margin-top: 15px;
	width: auto;
}

#nova_spremenljivka .big {
	font-size: 16px;
}

.nova_vrednost {
	width: auto;
}

.nova_vrednost span {
	padding-right: 10px;
}

.vrednost {
	border: 1px solid #d0eff0;
	width: 80%;
	margin: 5px 5px 5px 0px;
	padding: 0px 0px 0px 0px;
}

.ranking_warning {
	color: red;

	width: 80%;
	height: 15px;
	margin: 5px 5px 5px 0px;
	padding: 0px 0px 0px 0px;
	
	display: none;
}

.grid_vrednost {
	width: 80%;
	border: 1px solid #d0eff0;
	margin: 5px 5px 5px 0px;
	padding: 0px 0px 5px 0px;
}

.vrednost:hover,.grid_vrednost:hover {
	background-color: #f5f5e3;
}

.grid_header_div {
	padding-left: 0px;
	border: 1px solid #999;
	margin: 5px 5px 5px 0px;
	border: 1px solid #d0eff0;
	background-color: #FAFFD8;
	width: 98%;
}

.grid_header_table {
	width: 100%;
	text-align: center;
}

.grid_item_div {
	position: absolute;
	right: 0px;
	bottom: 5px;
	left: 180px;
}

.grid_item_table {
	width: 100%;
	text-align: center;
}

.grid_input {
	width: 90%;
}

.grid_undecided {
	width: 4%;
}

.grid_space {
	width: 2%;
}
.double_grid_space {
	width: 2%;
}

.grid_header {
	font-weight: bold;
}

.grid_question {
	width: 20%;
	text-align: right;
	padding-right: 1%;
}

.grid_light {
	
}

.grid_dark {
	
}

.sortable { /*cursor: n-resize;*/
	
}

.editmenu {
	float: right;
	margin: 2px 0px 0px 0px;
	padding: 2px;
	padding-right: 10px;
	border: 0;
	position: static;
}

.nova_small {
	margin: auto 5px 5px auto;
}

.extra_opt {
	margin-right: 10px;
}

.extra_opt a {
	color: black;
	text-decoration: none;
	vertical-align: bottom;
}

.intro_concl {
	float: left;
	font-size: 12px;
	color: gray;
	padding: 4px;
}

.anketalist {
	padding: 0px 10px 15px 10px;
}

.save_button {
	float: right;
	margin: 10px 0px;
	padding-right: 10px;
	z-index: 50;
}
.full_screeen_edit {
		float: left;
	margin: 10px 0px;
	padding-left: 10px;
	z-index: 50;
	
	}
#anketa,#main {
	border: 0;
	padding: 0px 0 0 0;
	margin: 0 0 0 0;
}

#anketa_active h1 {
	border: 0;
	padding: 0;
	margin: 0;
	/*margin-bottom: 5px;*/
}

#anketa_naslov {
	font-size: 16px;
	font-weight: bold;
}

#anketa_naslov a {
	color: blue;
	text-decoration: none;
}

.anketa_img_nav {
	font-size: 11px;
	margin-left: 10px;
	width: auto;
}

#anketa_url {
	font-size: 11px;
	font-weight: normal;
	color: silver;
}

.anketa_url_bottom {
	font-size: 11px;
	color: silver;
	padding-left: 10px;
}

#anketa_aktivacija img,#anketa_url img {
	padding-right: 5px
}

#anketa_url a {
	color: blue;
	font-weight: normal !important;
}

#anketa_url a:HOVER,#anketa_url a:VISITED {
	color: blue;
	text-decoration: none;
}

#anketa_activate,#anketa_deactivate {
	font-size: 15px;
	font-weight: bold;
	color: #990000;
}

#anketa_activate_bottom,#anketa_deactivate_bottom {
	font-size: 9px;
	color: #990000;
}

#anketa_aktivacija_email {
	padding-left: 10px;
}

#anketa_activate_email,#anketa_deactivate_email {
	font-size: 11px;
	color: blue;
	padding-left: 5px;
}

#anketa_activate_email a:HOVER,#anketa_activate_email a:VISITED,#anketa_deactivate_email a:HOVER,#anketa_deactivate_email a:VISITED
	{
	color: blue;
	text-decoration: none;
}

#topLine2 {
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 2px 9px 110px;
	line-height: 21px;
}

#topLine2 a{
	font-size: 11px;
	font-weight: bold;
}

#navigationHolder {
	
}

.tab {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

img {
	border: none;
	vertical-align: text-bottom;
}

a img {
	border: none;
}

/*#anketa_sub_navigation {
	position:relative;
	top:10px;
}*/
#anketa_edit,#surveyStatistic,#anketa_reports,#user_settings {
	border: 1px solid #888;
	margin-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 10px 1% 10px 1%;
	min-height: 250px;
}
#analiza_arhiv {
	border: 1px solid #888;
	margin-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 10px 1% 10px 1%;
	min-height: 250px;
	background-color: #FFFFFF;
}

#grupe,#simple,#glas_settings {
	float: left;
	width: 30%;
	border: 1px solid #888;
	margin-left: 13px;
	padding: 0px 0px 10px 0px;
}

#glas_settings {
	background-color: #FFFFFF;
}

#simple {
	position: absolute;
	top: 155px;
	font-size: 11px;
	color: black;
	font-weight: normal;
}

#simple .header_holder,#glas_settings .header_holder {
	background-color: #FFFFFF;
	font-weight: bold;
}

#simple .header_left,#simple .header_right {
	width: 50%;
	height: 20px;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #888888;
	text-align: center;
	position: absolute;
}

#simple .header_right {
	margin-left: 50%;
}

#simple .header_left {
	z-index: 1000;
	border-right: 1px solid #888888;
	font-size: 12px;
}

#simple .noactive {
	background-color: #F2F2F2;
	cursor: pointer;
}

#simple .active {
	font-size: 12px;
	color: #990000;
	background-color: #FFFFFF;
}

#simple .header_holder a {
	font-size: 12px;
	color: gray;
	font-weight: bold;
}

#simple .header_holder a:hover {
	font-size: 12px;
	color: navy;
}

#simple .noactive:hover {
	background-color: white;
}

#vprasanja {
	float: right;
	width: 65%;
	border: none;
	margin-right: 1%;
	margin-bottom: 400px;
	padding: 0px 0px 10px 0px;
}

#anketa_advanced_options {
	border: 1px solid #888;
	margin-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 10px 10px 10px 10px;
	min-height: 250px;
}

#dodajanje_spremenljivke {
	border: 1px solid #888;
	background: #ccc;
}

#anketa_tip span {
	color: #aaa;
}

#debug {
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: auto;
	margin-left: -25%;
	min-height: 100px;
	min-width: 100px;
	height: auto;
	width: auto;
	z-index: 80;
	padding: 10px;
	background-color: #f2f2f2;
	border: 3px solid #990000;
}

#infoTop {
	position: absolute;
	width: auto;
	height: auto;
	top: 39px;
	right: auto;
	bottom: auto;
	left: 400px;
	font-size: 11px;
	color: #666;
	text-align: right;
}

#info {
	position: absolute;
	width: auto;
	height: auto;
	top: 65px;
	right: 20px;
	bottom: auto;
	left: auto;
	font-size: 11px;
	color: #666;
	text-align: right;
}

#info p {
	margin: 0;
	padding: 0;
	padding-bottom: 4px;
}

#info span span {
	color: #999;
}

#reportabug {
	position: fixed;
	top: 50%;
	right: 0;
}

#loading {
	position: fixed;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
	background-color: white;
	display: none;
	z-index: 900;
}

#clipboard {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -180px;
	width: 340px;
	background-color: green;
	color: white;
	padding: 5px 10px 5px 10px;
	z-index: 1;
	display: none;
}

#clipboard p {
	margin: 0;
}

#clipboard a {
	color: white;
}

#check_pogoji {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -180px;
	width: 340px;
	background-color: green;
	color: white;
	padding: 5px 10px 5px 10px;
	z-index: 1;
}

#check_pogoji a {
	color: white;
}

#surveyInfo {
	position: absolute;
	background-color: #f2f2f2;
	color: gray;
	padding: 5px 5px 5px 5px;
	border: 1px solid #990000;
	z-index: 9999;
	display: none;
	width: auto;
}

#surveyInfo_img {
	float: left;
	width: 20px;
}

#surveyInfo_msg {
	float: left;
	width: auto;
	padding-right: 20px;
}

#surveyInfo_msg span {
	display: inline-block;
	width: 95px;
	padding: 2px 0px;
}

#surveyInfo_msg .infoData {
	margin-left: 155px;
	width: auto;
}

#surveyInfo_close {
	float: left;
	text-align: right;
	width: 20px;
}

#dropped_alert {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -150px;
	min-height: 30px;
	padding:  0 10px 0 10px;
	width: 300px;
	z-index: 100;
	/*background-color: #f2f2f2; ker se nic ne vidi */
	background-color: green;
	color: white;
	font-weight: bold;
	text-align: center;
}

#alert_close_block {
	padding: 15px;
	border: 1px solid #990000;
	background: white;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -250px;
	min-height: 30px;
	width: 500px;
	z-index: 100;
}

/*  branching  */
#branching {
	position: relative;
	top: 0px;
	float: left;
	width: 40%;
	border: 1px solid #888;
	margin-left: 1%;
	margin-bottom: 50px;
}

.branching_questions {
	padding: 3px 20px 20px 40px;
}

#question_holder {
	padding: 5px 5px 5px 10px;
	margin: auto 0px;
}

#branching_vprasanja_maxIfExceeded {
	position: fixed;
	right: 0px;
	bottom: 10px;
	top: 168px;
	width: 57%;
	overflow: auto;
	margin: 0px 1% 0px 0px;
	padding: 0px 0px 10px 0px;
}

#branching_vprasanja {
	position: fixed;
	right: 0px;
	bottom: 10px;
	top: 155px;
	width: 57%;
	overflow: auto;
	margin: 0px 1% 0px 0px;
	padding: 0px 0px 10px 0px;
}

#branching_header_wrapper {
	float: left;
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	text-align: left;
	overflow: hidden;
	border-bottom: 1px solid gray;
}

#branching_header_left {
	margin-right: 0px;
	text-align: left;
	overflow: hidden;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	height: 30px;
}

#branching_header_left div.icons {
	display: block;
	padding-top: 8px;
	padding-left: 15px;
}

#branching_header_left div.title {
	display: block;
	padding-top: 8px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
}

#branching_header_right {
	float: right;
	margin: 0px;
	width: 50%;
	text-align: right;
	height: 30px;
}

#branching_header_left.active {
	background-color: white;
	color: #990000;
}

#branching_header_left.noactive {
	background-color: #f2f2f2;
	cursor: pointer;
	color: silver;
}

#branching_header_left.noactive:hover {
	color: blue;
}

#branching_header_right.noactive {
	/*background: url(img_0/branch_header_right_noactive.png);*/
	background-color: #f2f2f2;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border-left: 1px solid gray;
	color: silver;
	cursor: pointer;
}

#branching_header_right.noactive:hover {
	color: blue;
}

#branching_header_right.active {
	/*background: url(img_0/branch_header_right_active.png);*/
	background-color: white;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	border-left: 1px solid gray;
}

#branching_header_right.noactive span {
	display: block;
	padding-top: 8px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
}

#branching_header_right.active span {
	display: block;
	padding-top: 8px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
}

#active_editing {
	margin-left: 10px;
	color: orange;
	font-size: 10px;
}

.branch { /*border: 1px dotted red;/**/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.editing {
	background-color: #839fdf;
}

.branchborder { /*border: 1px dotted blue;/**/
	padding-left: 20px;
	width: auto;
}

.sivo {
	
}

.branchborder:hover {
	background: url('../img_0/background_blue1.png');
}

.branchinghover {
	margin-left: 20px;
	margin-right: 20px;
	background: url('../img_0/hover_background.png') repeat-x top left
		!important;
}

.dropped { /*border: 1px dotted red;/**/
	height: 10px; /***/
	margin-right: 20px;
}

.new_hover {
	display: none;
	position: absolute;
	top: -10px;
	z-index: 1;
	width: 90%;
	margin-left: 30px;
	background: url('../img_0/hover_background.png') repeat-x top left;
}

.new_hover_endif {
	display: none;
	position: relative;
	top: -23px;
	z-index: 1;
	width: 90%;
	margin-left: 50px;
	background: url('../img_0/hover_background.png') repeat-x top left;
}

.new_hover_bottom {
	display: none;
	position: absolute;
	margin-top: -10px;
	z-index: 1;
	width: 90%;
	margin-left: 30px;
	background: url('../img_0/hover_background.png') repeat-x top left;
}

/*.spr_new_hover {
    display: none;
    position: absolute;
    top:-10px;
    z-index: 1;
    width: 90%;
    margin-left: 20px; 
    background: url('img/hover_background.png') repeat-x top left;
}*/ /*.spr_new_hover_endif {
    display: none;
    position: absolute;
    top:-23px;
    z-index: 1;
    width: 90%;
    margin-left: 40px;
    background: url('img/hover_background.png') repeat-x top left;
}*/ /*.spr_new_hover_bottom {
    display: none;
    margin-top: -10px;
    z-index: 1;
    width: 90%;
    margin-left: 20px;
    background: url('img/hover_background.png') repeat-x top left;
}*/
.pagebreak {
	position: relative;
	top: 10px;
	float: right;
	margin: 0px 3px;
}

.pb_line {
	margin-left: 50px;
	padding-left: 50px;
	background: url('../img_0/pb_background.png') repeat-x center left;
}

.page_holder {
	float: right;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 1px;
	vertical-align: middle;
}

.pb_line_page {
	z-index: 10;
	display: none;
	position: absolute;
	right: 17px;
	width: 170px;
	height: 18px;
	border: 1px dashed gray;
	background: white;
	text-indent: 5px;
	color: gray;
	vertical-align: middle;
	padding-top: 4px;
}

.pb_line_page_preview {
	z-index: 1;
	position: absolute;
	right: 20px;
	bottom: 2px;
	font-size: 9px;
	color: #b0b0b0;
	vertical-align: middle;
}

.pb_line_page input {
	padding-top: 0px;
	width: 115px;
}

.pb_line_page_editmenu {
	float: right;
	padding-right: 2px;
	border: 0;
	position: static;
}

.pb_right {
	position: relative;
	top: 2px;
	width: 90%;
	margin-left: 10px;
	text-align: right;
}

.pb_right_on {
	background: url('../img_0/pb_background.png') repeat-x top left;
}

span.pb_right {
	position: relative;
	top: -2px;
	right: -20px;
	float: right;
}

.branching_newspr {
	position: absolute;
	left: -3px;
	bottom: 3px;
}

.shift {
	margin: 0px 0px 0px 20px;
}

.if_remove,.spr_edit {
	z-index: 5;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0px 18px;
	padding: 2px;
	/*background: white;
	border: 1px solid #eee;*/
}

.spr_remove {
	float: right;
}

.new_left {
	clear: both;
}

#div_float_editing {
	display: none;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -200px;
	margin-left: -350px;
	min-height: 350px;
	max-height: 600px;
	overflow: auto;
	width: 702px;
	z-index: 90;
	background-color: #f2f2f2;
	border: 1px solid #990000;
}

#div_float_editing_inner {
	border: 1px solid yellow;
	overflow: auto;
	min-height: 150px;
	height:489px;
	max-height: 650px;
}

#calculation {
	display: none;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	min-height: 200px;
	width: 400px;
	z-index: 91;
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px solid #990000;
}

#calculation_editing_calculations {
	min-height: 40px;
}

#fullscreen {
	display: none;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -200px;
	margin-left: -450px;
	min-height: 400px;
	width: 900px;
	z-index: 80;
	padding: 10px;
	/*background-color: white;*/ /*border: 1px solid #990000;*/
}

#fade {
	display: none;
	position: fixed;
	z-index: 79;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #333333;
	opacity: 0.5;
}
/* condition editing */
#condition_editing_remove {
	float: right;
}

.condition_editing_naslov_holder {
	padding:10px 0px;
	min-height: 50px;
}

.condition_editing_naslov {
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 15px;
}

#condition_editing_tip {
	float: left;
	padding-left:50px;
	padding-top:10px;
}

#condition_editing_tip span {
	color: #999;
}


.bracket0 {
	color: blue;
}

.bracket1 {
	color: #990000;
}

.bracket2 {
	color: green;
}

.bracket3 {
	color: lime;
}

.bracket4 {
	color: orange;
}

.bracket5 {
	color: aqua;
}

.bracket6 {
	color: fuchsia;
}

.bracket7 {
	color: maroon;
}

.bracket8 {
	color: olive;
}

.bracket9 {
	color: purple;
}

.bracket10 {
	color: teal;
}

.bracket11 {
	color: silver;
}

#knjiznica_dodaj {
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #ddd;
}

/* 1ka navigacija */
#enka_nav {
	position: absolute;
	top: 0px;
	right: 15px;
	padding: 2px;
	text-align: right;
	margin-top: 5px;
}

#enka_nav a { /*e se hoce lepe zavihke za zgornjo navigacijo*/
	/*background:white url(img_0/tabright1.gif) no-repeat scroll right top;
	*/
	color: #CC0000; /*
	border-left:1px solid #949494;
	font-size:15px;
	height:25px;
	margin:0 0 0 0;
	padding:3px 9px 2px 5px;
	text-decoration:none;*/
}

#enka_nav a.xtra {
	color: #000000;
}

/*  struktura branchinga */
#s1 {
	position: relative;
	left: 32px;
}

#s2 {
	position: relative;
	left: -9px
}

#branching .new_left {
	float: left;
	position: relative;
	top: -13px;
	text-align: left;
}

.branchborder .spr {
	position: relative;
	left: -9px;
	width: 100%;
}

.plusminus {
	float: left;
	position: relative;
	left: -25px;
}

.plusminus:hover {
	text-decoration: none;
}

.condition {
	position: relative;
	left: -21px;
}

.relative {
	position: relative;
}

.endif {
	position: relative;
	left: -29px;
	font-weight: bold;
}

/* folderji */
#anketa div .folder_container { /*display: block;*/
	height: 17px;
	padding: 3px;
	margin: 3px;
	overflow: hidden;
	/*border: 1px dotted blue;/**/
}

div .folder_container:hover {
	background-color: #dedede;
}

div .folder_left {
	float: left;
	width: 320px;
	font-size: 13px;
}

div .folder_left img.mapca {
	cursor: move;
}

#anketa div .folder_right {
	float: left;
	width: 100px;
	text-align: left;
	/*border: 1px dotted red;/**/
}

#anketa span.opombe {
	color: gray;
	height: 17px;
	width: auto;
	/*border: 1px dotted green;/**/
	font-size: 12px;
}

#anketa span.opombe span {
	font-size: 16px;
}

#anketa ul {
	list-style: none;
	margin: 0;
}

#anketa ul.first {
	margin-top: 10px;
}

#anketa li .anketa {
	margin: 0;
	padding-left: 14px;
}

#anketa .folder_plusminus {
	padding-bottom: 2px;
}

.folder strong:hover {
	background-color: #dedede;
}

#folders .new_folder,#folders .delete_folder {
	visibility: hidden;
}

/*
#main_library
{	float: right;
	position: relative;
	z-index: 55;
	width: 49%;
	padding: 0px;
	margin: 0px;
} 
#anketa_library {
	float: right;
	position: relative;
	z-index: 55;
	border: 1px solid #888888;
	padding: 10px;
	padding-top: 0px;
	padding-right: 0px;
	width: 49%;
	margin-top: 5px;
}
*/
#main_library {
	background-color: #FFFFFF;
	border: 1px solid #888;
	margin-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 0px 10px 10px 10px;
}

#anketa_library {
	
}

#main_tabs { /*border-bottom: 1px solid red;/**/
	font-size: 16px;
	font-weight: bold;
	width: 50%;
	float: left;
}

#main_tabs span {
	margin-left: 30px;
}

#notify {
	color: #990000;
}

#notifyUser {
	position: absolute;
	right: 10px;
	top: 122px;

	color: orange;
	float: right;
}

/* library */
#library {
	border: 1px solid gray;
	border-top: none;
	background: #ffffff;
	min-height: 300px;
}

#library ul , #anketa_knjiznica ul{
	list-style: none;
	margin: 0;
	padding-left: 18px;
}

#library li .anketa, #anketa_knjiznica li .anketa {
	margin: 0;
	padding-left: 14px;
}

#library .new_folder,#library .delete_folder,
#anketa_knjiznica .new_folder, #anketa_knjiznica .delete_folder {
	visibility: hidden;
}

#library .folder_container,
#anketa_knjiznica .folder_container {
	display: block;
	width: 95%;
	height: auto; /**/
	min-height: 20px;
	padding: 3px;
	/*border: 1px dotted blue;/**/
}

div.anketa_vprasanja {
	display: none;
}

#library div .folder_right,
#anketa_knjiznica div .folder_right {
	width: 50px;
	float: right;
	text-align: left;
	/*border: 1px dotted red;/**/
}

#library div.folder_left,
#anketa_knjiznica div.folder_left {
	width: 80%;
	float: none;
}

#library div.folder_left.indent,
#anketa_knjiznica div.folder_left.indent {
	position: relative;
	left: -16px;
}

#library #display_tabs {
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	padding: 3px;
}

#libraryInner {
	padding: 5px;
}

#display_tabs a.active {
	font-weight: bold;
}

#knjiznica_link {
	float: right;
	position: relative;
	bottom: 20px;
}

/* analiza */

/* prikazemo samo pri printu - print.css*/
.printShow{
	display:none !important;
}

.anl_tbl {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
	border-collapse: collapse;
}
.sum_tbl {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.anl_tbl_inner {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
}

.anl_tbl th {
	padding: 6px;
}

.anl_tbl td {
	padding: 6px;
}

.anl_td_inner {
	padding: 0px;
}
.anl_tbl_crosstab {
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}
.anl_tbl_crosstab th {
/*	padding: 4px; */
	padding: 0px;
	margin: 0px; 
}

.anl_tbl_crosstab td {
	padding: 0px;
	margin: 0px; 
}
.anl_bck {
	background-color: #f2f2f2;
	background-color: #eafada;
	background-color: #f7f7f7;
}

.anl_bck_0 {
	background-color: #CFE7EE;
}

.anl_bck_1 {
	background-color: #E0E8F1;
}

.anl_bck_2 {
	background-color: #FFFFFF;
}

.anl_bck_0_0 {
	background-color: #CFE7EE;
	background-color: #FBFBFA;
}

.anl_bck_0_1 {
	background-color: #BFE7ED;
	background-color: white;
}

.anl_bck_1_0 {
	background-color: white;
}

.anl_bck_1_1 {
	background-color: white;
}

.anl_bck_2_0 {
	background-color: #CDF0CD;
	background-color: #f9f9f7;
}

.anl_bck_2_1 {
	background-color: #B6FFB6;
	background-color: white;
}

.anl_bck_text_0 {
	background-color: #FFFFE3;
}

.anl_bck_text_1 {
	background-color: #FFFFF0;
}

.anl_bck_soft {
	background-color: #F9F9FA;
}

.anl_bck_desc_1 {
	background-color: #eafada;
}

.anl_bck_desc_2 {
	background-color: #FAFFF0;
}

.anl_bck_desc_3 {
	background-color: #FFFFE3;
}

.anl_bck_freq_1 {
	background-color: #eafada;
}

.anl_bck_freq_2 {
	background-color: #FAFFF0;
}

.anl_bck_freq_3 {
	background-color: #FFFFE3;
}

.anl_txt_filters {
	width: auto;
	float: left;
	padding: 2px 5px 2px 2px;
	margin: 2px 2px 2px 2px;
}

.anl_txt_filters_right {
	width: auto;
	float: right;
	padding: 2px 2px 2px 5px;
	margin: 2px 2px 2px 20px;
}

.anl_txt_filters_right #missingi {
	border: 1px solid red;
	padding: 0px;
	margin: 0px;
	height: 10px;
}

.anl_txt_legenda {
	width: auto;
	float: left;
	padding: 2px 5px 2px 2px;
	margin: 2px 20px 2px 50px;
}

.anl_txt_0 {
	background-color: #CFE7EE;
	background-color: #f9f9f7;
}

.anl_txt_1 {
	background-color: #F2E8F1;
	background-color: #f9f9f7;
}

.anl_txt_2 {
	background-color: #CDF0CD;
	background-color: #f9f9f7;
}

.anl_txt_3 {
	background-color: #F2E7CE;
	background-color: #f9f9f7;
}

.anl_tin {
	text-indent: 8px;
}

.anl_tin1 {
	text-indent: 16px;
}

.anl_tin2 {
	text-indent: 24px;
}

.anl_tin3 {
	text-indent: 32px;
}

.anl_tin4 {
	padding-left: 48px;
	text-indent: 0px;
	margin-right: 55px;
}

.anl_variabla {
	font-weight: bold;
	color: #00A480;
}
.anl_variabla_sub {
	color: #00A480;
}
.anl_variabla_label {
	color: #00A480;
	color: black;
}
.anl_variabla_line {
	color:gray;
	}
.anl_ita {
	font-style: italic;
}

.anl_detail_percent,.anl_detail_percent a {
	color: #BF7830;
	width: 70px;
	text-align: right;
	font-weight: normal;
}

.anl_detail_text {
	color: #00a480;
}

.anl_detail_cnt {
	color: #c2c2c2;
}

.anl_ac {
	text-align: center;
}

.anl_al {
	text-align: left;
}

.anl_ar {
	text-align: right;
}

.anl_ba {
	border: 1px solid gray;
}

.anl_bl {
	border-left: 1px solid gray;
}

.anl_br {
	border-right: 1px solid gray;
}

.anl_bt {
	border-top: 1px solid gray;
}

.anl_bb {
	border-bottom: 1px solid gray;
}

.anl_red_ba {
	border: 1px solid #990000;
}

.anl_red_bl {
	border-left: 1px solid #990000;
}

.anl_red_br {
	border-right: 1px solid #990000;
}

.anl_red_bt {
	border-top: 1px solid #990000;
}

.anl_red_bb {
	border-bottom: 1px solid #990000;
}

.anl_dash_ba {
	border: 1px dashed silver;
}

.anl_dash_bl {
	border-left: 1px dashed silver;
}

.anl_dash_br {
	border-right: 1px dashed silver;
}

.anl_dash_bt {
	border-top: 1px dashed silver;
}

.anl_dash_bb {
	border-bottom: 1px dashed silver;
}

.anl_dash_red_ba {
	border: 1px dashed #D59090;
}

.anl_dash_red_bl {
	border-left: 1px dashed #D59090;
}

.anl_dash_red_br {
	border-right: 1px dashed #D59090;
}

.anl_dash_red_bt {
	border-top: 1px dashed #D59090;
}

.anl_dash_red_bb {
	border-bottom: 1px dashed #D59090;
}

.anl_double_bb {
	border-bottom: 3px double gray;
}

.anl_double_bt {
	border-top: 4px solid red;
}

.anl_str {
	font-weight: bold;
}

.anl_w30 {
	width: 30px;
}
.anl_w50 {
	width: 50px;
}

.anl_w70 {
	width: 70px;
}

.anl_w90 {
	width: 90px;
}

.anl_w110 {
	width: 110px;
}

.anl_w140 {
	width: 140px;
}

.anl_p5 {
	padding: 5px;
}

.anl_p10 {
	padding: 10px;
}

.anl_indent {
	text-indent: 20px;
}

.anl_podvprasanje {
	background-color: #f2f2f2;
	font-weight: bold;
}

.anl_podvprasanje_1 {
	border-top: 1px solid gray;
}

.anl_legenda_freq {
	font-weight: normal;

}

#crossLeftHolder {
	float: left;
	padding-right: 10px
}

#crossRightHolder {
	float: left;
	padding-right: 10px
}

#crossLeftHolder select,#crossRightHolder select {
	width: 270px;
}

#crossCheckHolder,#crossImgHolder {
	float: left;
	padding-right: 10px
}

.anl_ba_dot {
	border: 1px dotted gray;
}

.anl_bl_dot {
	border-left: 1px dotted gray;
}

.anl_br_dot {
	border-right: 1px dotted gray;
}

.anl_bt_dot {
	border-top: 1px dotted gray;
}

.anl_bb_dot {
	border-bottom: 1px dotted gray;
}

.anl_user_text {
	color: #00A480;
}

.anl_user_text_more {
	float: left;
	padding: 0px 5px;
	text-indent: 0px;
	color: #00A480;
}

.anl_light_text {
	color: #e8e8e8;
}

.anl_other_text, .anl_other_text a {
	color: #00A480;
	font-style: italic;
}
.anl_click_missing {
	/*color: #bf7830;*/
	color: black;
	font-weight: normal;
	cursor: pointer;
}
.anl_click_missing:hover{
	color:blue;
}
.anl_click_missing_hide {
	color: black;
	font-weight: normal;
	cursor: pointer;
}
.anl_click_missing_hide:hover {
	color: blue;
}
.anl_tbl_var{width:100%; text-align: center; font-weight: bold; padding: 3px 0px; font-size: larger;}
#new_anketa_toggle_box {
	display: none
}

.new_anketa_toggle_box_float {
	width: 90px;
	float: left;
	font-weight: bold;
	text-align: right;
	display: none;
}

#surveyTrajanje {
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -180px;
	width: 500px;
	background-color: #f2f2f2;
	color: #990000;
	padding: 5px 5px 5px 5px;
	border: 1px solid #990000;
	z-index: 99;
	display: none;
}

#surveyTrajanje_img {
	float: left;
	width: 20px;
}

#surveyTrajanje_msg {
	float: left;
	width: 450px;
}

#surveyTrajanje_close {
	float: left;
	text-align: right;
	width: 20px;
}

.trajanjeLinkOff {
	float: right;
	color: gray;
	padding-top: 15px;
	text-indent: 20px;
	background-image: url('../img_0/star_off.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	cursor: pointer;
}

.trajanjeLinkOn {
	float: right;
	color: #990000;
	padding-top: 15px;
	text-indent: 20px;
	background-image: url('../img_0/star_on.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	cursor: pointer;
}

#divAvtoClose {
	float: left;
	padding-top: 15px;
	color: gray;
	text-indent: 20px;
}

#divAvtoClose span {
	font-weight: bold;
}

.noSurvey_left_label {
	width: 140px;
}

.labelSpan,.labelSpanWide {
	width: 60px;
	display: table-cell;
	float: left;
	text-align: left;
}

.labelSpanWide {
	width: 100px;
}

.nastavitveSpan {
	width: 90px;
	display: table-cell;
	float: left;
	text-align: right;
	font-weight: bolder;
}

.nastavitveSpan1 {
	width: 230px;
	display: table-cell;
	float: left;
	text-align: right;
	font-weight: bolder;
}

.nastavitveSpan2 {
	width: 190px;
	display: table-cell;
	float: left;
	text-align: right;
	font-weight: bolder;
}

.nastavitveSpan3 {
	width: 270px;
	display: table-cell;
	float: left;
	text-align: right;
}

.nastavitveSpan4 {
	display: table-cell;
	float: left;
	font-weight: bolder;
	width: 55%;
	clear: both;
}

.nastavitveSpan5 {
	display: table-cell;
	float: left;
	font-weight: bolder;
	width: 25%;
	clear: both;
}

legend {
	padding: 0.2em 0.5em;
	color: #990000;
	background-color: #fff;
	margin: 0 0 0 0;
	font-weight: bold;
}

legend.red {
	font-size: 14px;
}

fieldset {
	border: 1px solid #E4E4f9;
	margin: 10px;
	padding: 5px;
	background-color: #FFFFFF;
}

fieldset.grupa {
	margin: 5px;
	padding: 5px;
	width: auto;
	border: 1px solid silver;
}

fieldset.grupa legend {
	color: blue;
}

fieldset.grupa:hover {
	background: #FFF;
}

fieldset#fildsetNovaAnketa {
	border: none;
	margin: 0px;
	padding: 0px;
	background: transparent;
	border: 1px solid red;
}

fieldset#fildsetNovaAnketa legend {
	color: #990000;
	margin: 0px 10px;
	border: none;
}

fieldset.izvozi {
	margin: 5px;
	padding: 5px 5px 5px 5px;
	width: auto;
	border: 1px solid silver;
}

fieldset.izvozi legend {
	color: gray;
	font-weight: bold;
}

#div_error ul {
	list-style: square inside;
}

#div_error li {
	padding-bottom: 5px;
}

div.qtip-content {
	font-size: 9px;
}

#printView,#normalView {
	float: left;
	margin: 10px;
	top: 20px;
	left: 20px;
}

.printDiv {
	border: 1px solid gray;
	padding: 10px;
	margin-right: 10px;
}

div#version {
	width: 100%;
	text-align: center;
	clear: both;
	margin-top: 40px;
	font-size: 9px;
	color: #aaaaaa;
}

/*Navigacija zgornjih tabulatorjev */
.tabnavigation {
	padding-top: 19px;
	
	margin-bottom: -1px;
}

.tabnavigation ul {
	padding: 0px 9px 0px 100px;

	font: 12px Verdana;
	list-style-type: none;
	text-align: left;
}

.tabnavigation li {
	display:-moz-inline-stack;
	display:inline-block;
	
	margin: 0;	
	vertical-align: bottom;
}
.tabnavigation li.highlightTab .mainNavDiv, .tabnavigation li.highlightTab .mainNavDiv_pregled, .tabnavigation li.highlightTab .mainNavDiv_napredno{
	border-bottom: 0;
}

.tabnavigation li a {
	text-decoration: none;
	color: #787878;
	
	font: 11px Verdana;
}

.mainNavDiv{
	position: relative;
	width: 65px;
	height: 24px;
	padding: 8px 9px 0px 5px;
	
	margin-right: 1px; /*distance between each tab*/
	
	background: transparent url(../../images/tabright1.gif) top right no-repeat;
	background-color: #f7f7f7;	
	border-left: 1px solid #949494;
	border-bottom: 1px solid #929492;
	
	color: #787878;
	text-align: center;
}

li.nohighlightTab_pregledovanje a{
	text-decoration:none;
	color:#707070;
}

li .mainNavDiv_pregled{
	padding: 2px 9px 2px 5px;
	
	background: transparent url(../../images/tabright.gif) top right no-repeat;
	background-color: #e9fcff;
	border-left:1px solid #949494;
	border-bottom: 1px solid #929492;
	
	text-decoration:none;
	color:#707070;
	text-align: center;
	font-size:15px;
}

/*meni napredno, ki je absolutno poravnan na desno*/
.tabnavigation ul li ul{
	position: absolute !important; 
	right: 10px;
	top: 86px;
}
.tabnavigation ul li.highlightUL ul{
	top: 87px;
}
.tabnavigation ul li ul li{
	margin-right: 1px;
}

li .mainNavDiv_napredno{
	padding: 2px 9px 2px 5px;
	
	background: transparent url(../../images/tabright.gif) top right no-repeat;
	background-color: #fff3f3;
	border-left:1px solid #949494;
	border-bottom: 1px solid #929492;
	
	text-decoration:none;
	color:#707070;
	font-size:15px;
	text-align: center;
}

li .main{
	background-color: #fff3f3;
}

/* navigacija v pregledu vseh anket */
.folderTab {
	padding-top: 32px;
}

.folderTab ul {
	padding: 3px 9px 3px 100px;
	margin-top: 1px;

	font: 11px Verdana;
	list-style-type: none;
	text-align: left;
	/*set to left, center, or right to align the menu as desired*/
}

.folderTab li {
	display: inline;
	margin: 0;
}

.folderTab li a {
	background: transparent url(../../images/tabright1.gif) top right no-repeat;
	/*background-color: #DDF4F7;*/
	background-color: #e9fcff;
	
	border-left:1px solid #949494;
	border-bottom: 1px solid #929492;
	
	height:25px;
	margin:0 0px 0 0;
	padding:5px 9px 3px 5px;
	text-decoration:none;
	color: #707070;
}

.tabnavigation li a:visited {
}

.tabnavigation li div:hover {
	background-color: white;
}
.tabnavigation a:hover {
	color: navy;
}

.tabnavigationStartSpacer {
	padding-left: 5px;
}
.tabnavigationFirstSpacer {
	padding-left: 35px;
}

.linenavigationStartSpacer {
	padding-left: 205px;
}

/* Navigacija druge vrstice */
.linenavigation ul {
	padding: 5px 9px 5px 5px;
	margin-top: 1px;
	margin-bottom: 0;
	font: 11px Verdana;
	list-style-type: none;
	text-align: left;
	/*set to left, center, or right to align the menu as desired*/
	
	border-top: 1px solid #929492;
}

.linenavigation li {
	display: inline;
	margin: 0 -2.5px 0 -2.5px;
}

.linenavigation li a {
	text-decoration: none;
	padding: 5px 9px 3px 5px;
	margin: 0;
	margin-right: 1px; /*distance between each tab*/
	color: gray;
	font-size: 11px;
	background-color: white;
}

.linenavigation li a:visited {
	
}

.linenavigation li a:hover {
	background-color: white;
	color: black;
}

/* navigacija spodnjih tabulatorjev (3 - opcijske vrstice)  */
.tabnavigation1 {
	padding: 0px 0px 0px 6.5px !important;
}

.tabnavigation1 ul {
	padding: 0px 9px 0px 5px;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: 10px Verdana;
	list-style-type: none;
	text-align: left;
	height: 13px;
	z-index: 2;
	/*set to left, center, or right to align the menu as desired*/
}

.tabnavigation1 li {
	display: inline;
	margin: 0;
	padding: 3px 9px 1px 5px;
	margin: 0;
	margin-right: 0px; /*distance between each tab*/
	border: 1px solid #888;
	font-size: 10px;
	background-color: #FFFFFF;
	height: 20px;
}

.tabnavigation1 li.highlightLineTab{
	border-bottom: 1px white solid;
}

.tabnavigation_analiza {
	float: right;
	width: auto;
	margin-right: 13px;
	height: 20px;
	z-index: 2;
}

.tabnavigation_analiza ul {
	list-style-type: none;
	text-align: left;
	z-index: 2;
	height: 20px;
}

.tabnavigation_analiza li {
	display: inline;
	margin: 0;
	height: 20px;
}

.tabnavigation_analiza li div {
	display: block;
	float: left;
	padding: 2px 5px 0px 5px;
	margin: 0px;
	margin-left: 5px; /*distance between each tab*/
	height: 18px;
	border: none;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	background-color: #FFFFFF;
	font: 10px Verdana;
}

.tabnavigation1 li a,.tabnavigation_analiza li div a {
	text-decoration: none;
	color: gray;
}

.tabnavigation1 li a:hover,.tabnavigation_analiza li div:hover {
	background-color: #F0F7FF;
	color: navy;
}

.highlightTab span {
	/*font-weight: bold;
	color: #990000;*/
}

li.highlightTab a {
	background-color: white;
}

li.highlightTab .mainNavDiv, li.highlightTab .mainNavDiv_napredno, li.highlightTab .mainNavDiv_pregled {
	background-color: white;
}

.highlightTab_modra span {
	font-weight: bold;
	color: #cc0000;
}

li.highlightTab_modra a {
	background-color: #F0F7FF;
}

.highlightTabRed span {
	font-weight: bold;
	color: #990000;
}

li.highlightTabRed a {
	border-bottom: none;
	padding-bottom: 2px;
}

li.highlightLineTab a {
	background-color: #ffffff;
	border-bottom: medium none;
	padding-bottom: 2px;
}

li.highlightLineTab a span {
	font-weight: bold;
	color: #990000;;
}

li.highlightLineTab_modra a {
	background-color: #F0F7FF;
	padding-top: 6px;
}

li.highlightLineTab_modra a span {
	font-weight: bold;
	color: #990000;;
}

div.linenavigation li.highlightTabRed a {
	padding-bottom: 3px;
	background-color: white;
}

div.linenavigation li.highlightLineTab a {
	padding-bottom: 3px;
	background-color: white;
}

/*Highlighti barva za vsako navigacijo drugaďż˝na*/ /*naslovka*/
li.highlightTab_pregledovanje a {
	/*color: #990000;*/
	background-color: white;
	
	padding-bottom: 4px;
	border-bottom: 0;
}

li.nohighlightLineTab_pregledovanje a {
	background-color: white;
	text-decoration: none;
	padding: 5px 9px 2px 5px;
	margin: 0;
	margin-right: 1px; /*distance between each tab*/
	color: black;
	font-size: 11px;
}

li.highlightTab_diagnostika a {
	color: #990000;
	background-color: white;
	
	padding-bottom: 4px;
	border-bottom: 0;
}

li.nohighlightLineTab_diagnostika a {
	background-color: white;
	text-decoration: none;
	padding: 5px 9px 0px 5px !important;
	margin: 0;
	margin-right: 1px; /*distance between each tab*/
	color: black;
	font-size: 11px;
}

li.highlightTab_knjiznica a {
	color: #990000;
	background-color: white;
	
	padding-bottom: 4px;
	border-bottom: 0;
}

li.nohighlightLineTab_knjiznica a {
	background-color: white;
	text-decoration: none;
	padding: 5px 9px 2px 5px;
	margin: 0;
	margin-right: 1px; /*distance between each tab*/
	color: black;
	font-size: 11px;
}

li.highlightLineTab_pregledovanje a {
	color: #990000;
	background-color: white;
	font-weight: bold;
	padding-bottom: 2px;	
}

li.highlightLineTab_diagnostika a {
	color: #990000;
	background-color: white;
	font-weight: bold;
	padding-bottom: 2px;
}

li.highlightLineTab_knjiznica a {
	color: #990000;
	background-color: white;
	font-weight: bold;
	padding-bottom: 2px;
}

/* Navigacia knjiĹľnice */
.libraryNavigation {
	height: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	text-align: right;
}

.libraryNavigation ul {
	padding: 5px 9px 5px 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	font: 11px Verdana;
	list-style-type: none;
	text-align: right;
	/*set to left, center, or right to align the menu as desired*/
}

.libraryNavigation li {
	display: inline;
	margin: 0 -2.5px 0 -2.5px;
}

.libraryNavigation li a {
	text-decoration: none;
	padding: 5px 9px 3px 5px;
	margin: 0;
	margin-right: 1px; /*distance between each tab*/
	color: gray;
	font-size: 11px;
	background-color: white;
}

.libraryNavigation li a:visited {
	
}

.libraryNavigation li a:hover {
	background-color: white;
	color: black;
}

div.libraryNavigation li.highlightTabRed a {
	padding-bottom: 3px;
	background-color: white;
}

/*Notranjost ankete*/
	/*li.highlightTab_urejanje a {background-color:#E8E9FF;}
li.nohighlightTab_urejanje a {}

li.highlightTab_vnosi a {background-color:#E8E9FF}
li.nohighlightTab_vnosi a {}

li.highlightTab_analiza a {background-color:#E8E9FF}}
li.nohighlightTab_analiza a {}

li.highlightTab_porocila a {}
li.nohighlightTab_porocila a {}*/
#div_analiza_info {
	width: auto;
	height: 16px;
	padding: 3px 5px;
	margin: 7px 0px;
	background-color: #f2f2f2;
	border: 1px solid gray;
	border-bottom: 1px solid #f2f2f2;
	top: 147px;
	left: 13px;
	position: absolute;
	
	display: none;
}

#div_analiza_filtri {
	width: auto;
	padding: 0px 0px;
}

#div_analiza_filtri_dynamic,#div_analiza_legenda {
	width: auto;
	float: left;
	padding: 0px 0px;
}

#div_analiza_filtri_right {
	width: auto;
	float: right;
	padding: 0px 0px;
}

#div_analiza_filtri_right a, #div_analiza_filtri_right a:visited {
	color: blue;
	text-decoration: none;
}

#div_analiza_filtri_right a:hover {
	color: #990000;
	text-decoration: none;
}

#div_analiza_filtri_clear {
	padding: 3px 0px;
	float: left;
}

#undecided {
	padding-right: 20px;
}

#undecided img {
	padding-right: 5px;
}

#undecided a {
	color: black;
	text-decoration: none;
}

#undecided a.edithelp {
	font-size: 11px;
	font-weight: bold;
	color: #3366FF;
	text-decoration: none;
}

span#undecided {
	padding-top: 3px;
}

#anketa_active {
	font-family: Verdana, Arial, Sans-Serif;
	background-color: #ffffff;
	border-bottom: 3px solid #cc0000;
	min-width: 1002px;
	width: auto;
	margin-bottom: 12px;
	height: 128px;
	padding-top: 15px;
}

#grupe,#simple,#branching,#anketa_edit,#anketa_advanced_options,#surveyStatistic,#anketa_reports,#user_settings
	{
	background-color: #FFFFFF;
}

#vprasanja,#branching_vprasanja {
	background-color: #E8E9FF;
}

#question_holder {
	background-color: #FFFFFF;
	border: 1px solid gray;
	border-top: none;
}

#anketa_new_kratko {
	margin-left: 4px;
}

#anketa_new_kratko,#anketa_new_polno {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 3px;
}

#anketa_new_float {
	position: absolute;
	top: 35px;
	left: 120px;
	width: auto;
	padding: 0px;
}

#div_analiza_filter_profiles {
	display: none;
	position: fixed;
	top: 20px;
	right: 30px;
	width: 1020px;
	z-index: 90;
	padding: 5px;
	border: 1px solid #990000;
	background-color: #f2f2f2;
}

#div_analiza_missing_values {
	display: none;
	position: fixed;
	top: 20px;
	right: 30px;
	width: 720px;
	z-index: 90;
	padding: 10px;
	border: 1px solid #990000;
	background-color: #f2f2f2;
}

#div_analiza_missing_values_close {
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	color: #990000;
	font-weight: bold;
}
#div_status_values {
	display: none;
	position: fixed;
	top: 20px;
	right: 30px;
	width: 720px;
	z-index: 90;
	padding: 10px;
	border: 1px solid #990000;
	background-color: #f2f2f2;
}
#div_analiza_variable_profiles {
	display: none;
	position: fixed;
	width: 765px;
	z-index: 90;
	background-color: #f5f5f5;
	padding: 10px;
	border: 1px solid #990000;
	top: 20px;
	right: 30px;
}

#div_analiza_variable_profiles_close,#div_analiza_variable_profiles_close
	{
	position: absolute;
	right: 430px;
	bottom: 10px;
	cursor: pointer;
	color: #990000;
	font-weight: bold;
}

#currentVariablesProfile,#currentZankaProfile {
	width: 755px;
	padding: 3px;
	border: 1px solid #99C9FF;
	background-color: #E5F2FF;
	color: #990000
}

.analiza_missing_values_hoverDiv {
	padding: 2px;
}

.analiza_missing_values_hoverDiv:hover {
	background-color: #D2D2D2;
}

.analizaGumb {
	margin: 30px 10px;
	border: 1px solid silver;
	padding: 5px;
	width: 20px;
}

.analizaGumb:hover {
	background: #f2f2f2;
	border: 1px solid gray;
}

.option {
	border-bottom: 1px solid #FFF;
}

#spr_options,.spr_options {
	padding: 3px;
	border: 1px solid #d0eff0;
	background-color: #F9FFD0;
}

#spr_options {
	width: 98% !important;
}

#spr_options_mgrid,.spr_options_mgrid {
	padding: 3px;
	border: 1px solid #FFCC99;
	background-color: #F4FFC7;
}

#spr_settings {
	float: left;
	width: auto;
	padding-top: 4px;
	vertical-align: bottom;
}

.spr_variabla {
	width: auto;
	padding: 4px 5px 3px 5px;
	font-weight: bold;
}

#spr_settings_intro_concl {
	float: left;
	width: auto;
	vertical-align: bottom;
	padding-left: 10px
}

#spr_settings_intro_concl img {
	padding-left: 10px;
	padding-top: 3px;
}

#spr_settings span img {
	padding-left: 5px;
	vertical-align: bottom;
}

#spr_settings span {
	vertical-align: bottom;
}

.spr_sysFilter1 {
	background-color: #CCCCFF;
}

.spr_sysFilter2 {
	background-color: #E5F2FF;
}

.spr_sysFilter3 {
	background-color: #f2f2f2;
}

.analiza_profile_holder {
	float: left;
	width: 210px;
	border: 1px solid gray;
	height: 350px;
	margin: 8px 8px 8px 0px;
}

.analiza_profile_variable_holder,.analiza_profile_zanka_holder {
	float: left;
	width: 190px;
	border: 1px solid gray;
	height: 350px;
	margin: 8px 8px 8px 0px;
}

#analiza_profile,#analiza_profile_variable,#analiza_profile_zanka {
	height: 350px;
	overflow: auto;
	cursor: pointer;
}

#analiza_profile_variable,#analiza_profile_zanka {
	width: 190px;
}

#analiza_profile .option,#analiza_profile_variable .option,#analiza_profile_zanka .option
	{
	padding: 1px;
}

#analiza_profile .active,#analiza_profile_variable .active,#analiza_profile_zanka .active
	{
	background-color: navy;
	color: #FFF;
	border-bottom: 1px solid gray;
}

.analiza_profile_button_left_holder {
	float: left;
	width: 210px;
	margin: 8px 8px 8px 0px;
}

#div_analiza_profile_dropdown {
	
}

#profile_missing_values {
	float: left;
	width: 460px;
	margin-top: 8px;
}

#saveProfile,#renameProfile,#saveNewProfile,#deleteProfile {
	cursor: pointer;
	width: 150px;
}

#newVariablesProfile,#renameVariableProfileDiv,#newZankaProfile,#renameZankaProfileDiv,#newProfile,#renameProfileDiv,#deleteProfileDiv,#newFilterProfile,#renameFilterProfileDiv,#deleteFilterProfileDiv
	{
	position: absolute;
	left: 50px;
	top: 100px;
	border: 1px solid #990000;
	z-index: 20;
	background-color: silver;
	padding: 10px;
	margin: 10px;
	width: 550px;
	display: none
}

#missingProfileCoverDiv,
#variableProfileCoverDiv,
#zankaProfileCoverDiv,
#filterProfileCoverDiv,
#statisticProfileCoverDiv, 
#statusProfileCoverDiv
	{
	position: absolute;
	left: 0px;
	width: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	background: #809FFF;
	opacity: .40;
	z-index: 10;
	display: none;
}

#newProfileSave,#newProfileCancle,#renameProfileSave,#renameProfileCancle,#deleteProfileConfirm,#deleteProfileCancle
	{
	padding: 0px 10px;
	color: #990000;
	cursor: pointer;
}

#infoMissingProfile {
	float: right;
	width: 480px;
	padding: 3px;
	margin-right: 12px;
	color: black;
	font-size: 11px;
	border: 1px solid #99C9FF;
	background-color: #E5F2FF;
}

#infoMissingProfileSystem {
	width: 184px;
	padding: 3px;
	margin-bottom: 9px;
	color: black;
	font-size: 11px;
	border: 1px solid #FFCC99;
	background-color: #F4FFC7;
	border: 1px solid #99C9FF;
	background-color: #E5F2FF;
}

#currentMissingProfile {
	float: left;
	width: 205px;
	padding: 3px;
	border: 1px solid #99C9FF;
	background-color: #E5F2FF;
	color: #990000;
	overflow: hidden;
}

#missingProfileFieldset {
	width: 468px;
}

fieldset#missingProfileFieldset {
	margin: 0px;
	padding: 5px;
	background-color: transparent;
	border: 1px solid #9CB0D0;
}

fieldset#missingProfileFieldset legend {
	padding: 0.2em 0.5em;
	color: #5F537E;
	margin: 0px 5px;
	font-weight: bold;
	background-color: transparent;
}

#missingProfileFieldsetHolder1 {
	width: 480px;
	padding: 2px;
	margin-bottom: 5px;
	color: black;
	font-size: 11px;
	background-color: #FAEEB4;
	border: 1px solid #FFC840;
}

#missingProfileFieldsetHolder2 {
	width: 480px;
	padding: 2px;
	margin-bottom: 5px;
	color: black;
	font-size: 11px;
	background-color: #FAE0B4;
	border: 1px solid #FFC840;
}

#missingProfileFieldsetHolder3 {
	width: 480px;
	padding: 2px;
	margin-bottom: 5px;
	color: black;
	font-size: 11px;
	background-color: #F4E079;
	border: 1px solid #FFC840;
}

#missingProfilebuttons {
	padding-top: 10px;
}

#fs_list {
	float: left;
	width: 460px;
	margin-top: 8px;
	border: 1px solid gray;
	width: 550px;
	height: 320px;
	overflow: auto;
	padding: 5px
}

.fs_container {
	height: 280px;
	width: 245px;
	overflow: auto;
	padding: 3px 0px 3px 20px;
	background-color: white;
}
#fs_list_1,#fs_list_2,#fs_list_3,#fs_list_4 {
	display: block;
	list-style-type: none;
	padding: 0px;
	min-height: 275px;
	height: 275px;
	width: 220px;
	min-width: 220px;
	padding: 0px;
	margin: 0px;
}

#fs_list_1 :hover,#fs_list_2 :hover,#fs_list_3 :hover,#fs_list_4 :hover
	{
	border: 1px dashed #c96;
}

#fs_list_1 ul,#fs_list_2 ul,#fs_list_3 ul,#fs_list_4 ul {
	padding: 0px;
	max-height: 275px;
}

#fs_list_1 li,#fs_list_2 li,#fs_list_3 li,#fs_list_4 li {
	list-style-type: none;
	display: block;
	border: 1px solid #d2d2d2;
	background: #ffc;
	width: 218px;
	padding: 5px 0px;
	margin-bottom: 5px;
}

#fs_list_1 li.dds_selected,#fs_list_2 li.dds_selected,#fs_list_3 li.dds_selected,#fs_list_4 li.dds_selected
	{
	background: #B3CBC2;
}

#fs_list_1 li.dds_ghost,#fs_list_2 li.dds_ghost,#fs_list_3 li.dds_ghost,#fs_list_4 li.dds_ghost
	{
	opacity: 0.5;
}

#fs_list_1 li.dds_move,#fs_list_2 li.dds_move,#fs_list_3 li.dds_move,#fs_list_4 li.dds_move
	{
	background: #cfc;
}

.dds_hover {
	border: 1px dashed #c96;
}

#fs_list_1 li,#fs_list_2 li,#fs_list_3 li,#fs_list_4 li {
	list-style-type: none;
	display: block;
	border: 1px solid #d2d2d2;
	background: #ffc;
	width: 218px;
	padding: 5px 0px;
	margin-bottom: 5px;
}
#fs_list_item {
	display:inline-block;
	list-style-type: none;
	padding: 0px;
	min-height: 275px;
	height: 275px;
	width: 220px;
	min-width: 220px;
	padding: 0px;
	margin: 0px;
	
}
.holder {
	border: 1px dashed #333;
	background: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

#xtradiv {
	margin-top: 5px;
}

#new_anketa_box {
	position: relative;
	top: -27px;
	left: -20px;
}

#new_anketa_toggle {
	display: none;
}

input#novaanketa_akronim, input#novaanketa_naslov {
	border: 1px solid #D0D9E0;
	margin-bottom: 3px;
	color: gray;
}

#novaanketa_akronim_chars, #novaanketa_naslov_chars {
	display: none;
}

#vabila {
	background-color: #FFFFFF;
	border: 1px solid #888888;
	margin-left: 1%;
	padding: 0 0 10px;
	margin-bottom: 20px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 10px 10px 10px 10px;
	min-height: 250px;
}

input.respondent {
	width: 99%;
	height: 20px;
	border: none;
	vertical-align: middle;
}

input.respondent:hover {
	background-color: #f4f4f4;
}

input.respondent:focus {
	background-color: #e4e4f0;
}

.grupa_spremenljivke {
	font-size: 11px;
	color: gray;
	padding-left: 5px;
	font-weight: normal;
}

.grupa h3 a,.grupa h3 a:HOVER,.grupa h3  a:VISITED {
	color: gray;
	text-decoration: none;
}

.navigacija_desno {
	margin-top: 3px;
	text-align: right;
}

.navigacija_desno ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
}

.navigacija_desno li {
	display: inline;
	margin: 0;
}

.navigacija_desno li a {
	background-color: #FFFFFF;
	border: 1px solid #888888;
	color: gray;
	font-size: 10px;
	margin: 0 0 0 0;
	padding: 3px 9px 1px 5px;
	text-decoration: none;
}

#tip_preview {
	position: absolute;
	z-index: 9999;
	display: none;
	color: black;
	width: auto;
	height: auto;
}

.tip_preview_sub {
	display: none;
	padding: 12px
}

.tip_sample {
	padding: 10px 0px 0px 10px;
}

.tip_sample_text {
	font-weight: bold;
}

.tip_sample_option {
	padding-left: 5px;
	width: 100%;
}

.tip_sample_option div {
	display: block;
	float: left;
	width: 100px;
}

.tip_sample_option span {
	display: block;
	float: left;
	width: 80px;
	text-align: center;
	margin-bottom: 3px;
}

.top-left,.top-right,.bottom-left,.bottom-right {
	background-image: url('../img_0/corners1280x18.gif');
	/* CHANGE: path and name of your image */
	height: 9px;
	/* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
	font-size: 2px; /* DNC: correction IE for height of the <div>'s */
}

.top-left,.bottom-left {
	margin-right: 9px;
	/* CHANGE: replace by the width of one of your corners */
}

.top-right,.bottom-right {
	margin-left: 9px;
	/* CHANGE: replace by the width of one of your corners */
	margin-top: -9px;
	/* CHANGE: replace by the height of one of your corners */
}

.top-right {
	background-position: 100% 0;
	/* DNC: position right corner at right side, no vertical changes */
}

.bottom-left {
	background-position: 0 -9px;
	/* CHANGE: replace second number by negative height of one of your corners */
}

.bottom-right {
	background-position: 100% -9px;
	/* CHANGE: replace second number by negative height of one of your corners */
}

.inside {
	border-left: 1px solid #8c8c8c;
	/* YCC: color & properties of the left-borderline */
	border-right: 1px solid #8c8c8c;
	/* YCC: color & properties of the right-borderline */
	background: #f2f2f2; /* YCC: background-color of the inside */
	color: #000000; /* YCC: default text-color of the inside */
	padding-left: 10px;
	/* YCC: all texts at some distance of the left border */
	padding-right: 10px;
	/* YCC: all texts at some distance of the right border */
	padding-bottom: 10px;
	/* YCC: all texts at some distance of the right border */
}

.notopgap {
	margin-top: 0;
}  /* DNC: to avoid splitting of the box */
.nobottomgap {
	margin-bottom: -1px;
	padding-bottom: 1px;
}  /* DNC: to avoid splitting of the box */
.razvrscanje_preview {
	border: 1px solid gray;
	background-color: silver;
	padding: 4px;
	margin: 5px 0px;
	width: 350px;
	display: block;
}

.razvrscanje_preview_frame {
	border: 1px dashed gray;
	background-color: #DDDDDD;
	padding: 4px;
	margin: 5px 0px;
	width: 350px;
	height: 13px;
	display: block;
	text-indent: -20px;
}

/*Credits: Dynamic Drive CSS Library */
	/*URL: http://www.dynamicdrive.com/style/ */
a.ovalbutton {
	background: transparent url('../img_0/oval-gray-left.gif') no-repeat top left;
	display: block;
	float: left;
	font: normal 13px Tahoma; /* Change 13px as desired */
	line-height: 16px;
	/* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 24px; /* Height of button background height */
	padding-left: 11px; /* Width of left menu image */
	text-decoration: none;
	cursor: pointer;
}

a:link .ovalbutton,a:visited .ovalbutton,a:active .ovalbutton {
	color: #494949; /*button text color*/
}

a.ovalbutton span {
	background: transparent url('../img_0/oval-gray-right.gif') no-repeat top
		right;
	display: block;
	padding: 4px 11px 4px 0;
	/*Set 11px below to match value of 'padding-left' value above*/
	color:black;
}

a.ovalbutton span img {
	margin-right: 8px;
}

a.ovalbutton:hover { /* Hover state CSS */
	background-position: bottom left;
}

a.ovalbutton:hover span { /* Hover state CSS */
	background-position: bottom right;
	color: black;
}

.buttonwrapper {
	/* Container you can use to surround a CSS button to clear float */
	overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
	width: auto;
}

span.buttonwrapper {
	display: block;
	width: auto;
}

a.ovalbutton_green {
	background: transparent url('../img_0/oval-green-left.gif') no-repeat top
		left;
}

a.ovalbutton_green span {
	background: transparent url('../img_0/oval-green-right.gif') no-repeat top
		right;
}

a.ovalbutton_blue {
	background: transparent url('../img_0/oval-blue-left.gif') no-repeat top
		left;
}

a.ovalbutton_blue span {
	background: transparent url('../img_0/oval-blue-right.gif') no-repeat top
		right;
}

a.ovalbutton_orange {
	background: transparent url('../img_0/oval-orange-left.gif') no-repeat top
		left;
}

a.ovalbutton_orange span {
	background: transparent url('../img_0/oval-orange-right.gif') no-repeat top
		right;
}

a.ovalbutton_red {
	background: transparent url('../img_0/oval-red-left.gif') no-repeat top
		left;
}

a.ovalbutton_red span {
	background: transparent url('../img_0/oval-red-right.gif') no-repeat top
		right;
}

a.ovalbutton_gray {
	background: transparent url('../img_0/oval-gray-simple-left.gif') no-repeat
		top left;
}

a.ovalbutton_gray span {
	background: transparent url('../img_0/oval-gray-simple-right.gif')
		no-repeat top right;
}

a.ovalbutton_yellow {
	background: transparent url('../img_0/oval-yellow-simple-left.gif')
		no-repeat top left;
}

a.ovalbutton_yellow span {
	background: transparent url('../img_0/oval-yellow-simple-right.gif')
		no-repeat top right;
}

.div_error,#div_error {
	padding: 3px;
	margin: 3px;
	border: 1px solid #F0CC99;
	background-color: #E8FFC7;
}

.div_error img,#div_error img {
	margin-right: 5px;
}

.simple_half {
	width: 49%;
}

#simple_left {
	float: left;
	padding: 0 0 0 3px;
}

#simple_right {
	float: right;
	padding: 0 3px 0 0;
}

.vprasanje {
	border: 1px solid #999;
	width: 90%;
	margin: 10px auto 10px auto;
	padding: 10px 0 10px 10px;
	text-align: left;
}

.vprasanje h3 {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

.vprasanje img {
	float: left;
	margin: 0 10px 0 0px;
}

.vprasanje:hover {
	background-color: #dedede;
	cursor: pointer;
}

.ui-draggable-helper {
	width: 50%;
	margin: 10px auto 10px auto;
	padding: 10px 0 10px 10px;
	text-align: left;
	opacity: 0.6;
}

#userInsertLeft {
	float: left;
	width: 49%;
}

#userInsertLeft fieldset {
	padding: 0px 8px 8px 8px;
	border: 1px solid #c2c2f9;
}

#userInsertRight {
	float: right;
	width: 49%;
}

#userInsertRight fieldset {
	padding: 8px;
	border: 1px solid #c2c2f9;
}

#insert_email_respondents {
	padding: 5px;
	border: 1px solid #990000;
	background: white;
}

#insert_email_respondents fieldset {
	border: 1px solid gray;
	padding: 8px;
}

/* jquery UI  - Component containers */
.ui-resizable {
	position: relative;
	padding: 0px;
	margin: 0px;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	z-index: 99999;
	display: block;
}

.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle
	{
	display: none;
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0px;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0px;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0px;
	height: 100%;
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0px;
	height: 100%;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}  /* Slider
/* - - - - - - - - - - - - - - - - - */
#survey_list_settings {
	border: 1px solid #990000;
	background: white;
	height: 570px;
	overflow: auto;
}

#anketa_knjiznica {
	border: 1px solid #eed2d2;
	margin: 0px 1% 15px 1%;
	padding: 5px;
	min-height: 250px;
	min-height: 500px;
	background-color: white;
}
#survey_list {
	border: 1px solid #eed2d2;
	margin-bottom: 15px;
	margin-left: 1%;
	margin-right: 1%;
	padding: 0px;
	min-height: 250px;
	background-color: white;
	min-height: 500px;
}

#survey_list_inner {
	padding: 15px;
	width: auto;
	height: auto;
}

#survey_list p {
	padding: 10px;
}

ul #surveyList,#survey_list ul {
	list-style: none;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#survey_list li {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	width: 100%;
	color: gray;
	overflow: hidden;
	display: block;
}

#survey_list li div {
	padding: 3px 2px;
	margin: 0px;
	overflow: hidden;
}

#survey_list li div a {
	text-decoration: none;
}

#survey_list li div a img {
	padding-right: 2px;
}

.sl_header {
	background-color: #e2e2e8; /* #727272; */
}

.sl_header div {
	height: 44px;
	padding: 0px;
	margin: 0px;
}

.sl_header div div {
	color: black;
	font-size: 13px;
	padding: 0px;
}

.sl_header_field {
	border-right: 1px solid #C2D2C9;
	cursor: pointer;
}

.sl_header_field img {
	vertical-align: middle;
	padding-right: 3px;
}

.sl_header_field a,.sl_header_field a:hover,.sl_header_field a:visited {
	color: #990000;
	text-decoration: none;
	font-size: 13px;
}

.sl_header_field a:ACTIVE {
	font-weight: bold;
}

.sl_bck_0 {
	background-color: #f9f9f7; /* #FCF6CF;*/
}

.sl_bck_1 { /* background-color: #FEFEF2; */
	
}

.sl_bck_br_0 {
	border-right: 1px solid #FEFEF2;
}

.sl_bck_br_1 {
	border-right: 1px solid #f8f7f8;
}

.sl_naslov {
	width: 250px;
	height: 15px;
	overflow: hidden;
}

.sl_naslov_padding {
	text-indent: 5px;
}

.sl_active {
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.sl_lib_glb {
	width: 20px;
	overflow: hidden;
}

.sl_lib_usr {
	width: 20px;
	overflow: hidden;
}

.sl_answers {
	width: 26px;
	height: 15px;
	overflow: hidden;
}

.sl_variables {
	width: 26px;
	height: 15px;
	overflow: hidden;
}

.sl_e_name {
	width: 65px;
	height: 15px;
	overflow: hidden;
}

.sl_e_surname {
	width: 65px;
	height: 15px;
	overflow: hidden;
}

.sl_e_email {
	width: 165px;
	height: 15px;
	overflow: hidden;
}

.sl_i_name {
	width: 65px;
	height: 15px;
	overflow: hidden;
}

.sl_i_surname {
	width: 65px;
	height: 15px;
	overflow: hidden;
}

.sl_i_email {
	width: 165px;
	height: 15px;
	overflow: hidden;
}

.sl_i_time {
	width: 60px;
	height: 15px;
	overflow: hidden;
}

.sl_e_time {
	width: 60px;
	height: 15px;
	overflow: hidden;
}

.sl_vnos_time_first {
	width: 60px;
	height: 15px;
	overflow: hidden;
}

.sl_vnos_time_last {
	width: 60px;
	height: 15px;
	overflow: hidden;
}

.sl_trajanje {
	width: 140px;
	height: 15px;
	overflow: hidden;
}

.sl_trajanjeod {
	width: 60px;
	height: 15px;
	overflow: hidden;
}

.sl_trajanjedo {
	width: 60px;
	height: 15px;
	overflow: hidden;
}

.sl_survey_type {
	width: 160px;
	height: 15px;
	overflow: hidden;
}
.sl_delete {
	width: 18px;
	height: 15px;
	overflow: hidden;
}
.sl_approp {
	width: 22px;
	height: 15px;
	overflow: hidden;
}

#sl_setting_link {
	float: right;
	position: relative;
	padding: 5px;
}

.sl_div_error_holder {
	margin: 0px;
	padding: 0px 0px 0px 10px;
}

.sl_div_error {
	width: 100%;
}

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 350px;
}

#sortable li.sortable_noGroup {
	margin: 0 3px 3px 3px;
	padding: 3px 5px;
	font-size: 13px;
	height: 16px;
	border: 1px solid gray;
	background-color: #f2f2f2;
	color: gray;
	font-weight: bold;
	width: 300px;
}

#sortable li.sortable_noGroup:hover {
	border: 1px solid #a0e8ff;
}

#sortable li.sortable_group {
	margin: 0 3px 3px 3px;
	padding: 3px 5px;
	font-size: 13px;
	height: auto;
	border: 1px dashed gray;
	background-color: #fff;
	color: gray;
	font-weight: bold;
	width: 300px;
}

#sortable li.sortable_group:hover {
	border: 1px solid #a0c8f0;
}

#sortable li span {
	
}

#sortableGroup {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
}

#sortableGroup li.sortable_noGroup {
	padding: 3px 5px;
	font-size: 13px;
	height: 17px;
	border: 1px solid gray;
	background-color: #f2f2f2;
	color: gray;
	font-weight: bold;
}

li.sortable_noGroup {
	margin: 0 3px 3px 3px;
	padding: 4px 5px;
	font-size: 13px;
	height: 17px;
	border: 1px solid gray;
	background-color: #f2f2f2;
	color: gray;
	font-weight: bold;
}

#sortableGroup li span {
	
}

#sortable li.sortable_group div#group_holder #sortableGroup li.sortable_noGroup
	{
	float: left;
	width: 260px;
}

.ime,.izbran,.ranking,.ranking_long {
	font-size: 16px;
	width: 250px;
	height: 25px;
	padding: 5px 0 0 0;
	margin: 15px 0 0 60px;
	border: 1px solid #000000;
	background-color: #DDDDDD;
	text-align: center;
	
	overflow: hidden;
}

.ranking_long {
	font-size: 11px;
}

.ranking_frame {
	font-size: 14px;
	width: 270px;
	height: 30px;
	padding: 5px 0 0 0;
	margin: 10px 0 0 60px;
	border: 1px black dashed;
	background-color: #EEEEEE;
	text-indent: -20px;
	text-align: left;
}

#change_survey_type {
	padding: 15px;
	border: 1px solid #990000;
	background: white;
}

#change_survey_type_note {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

#pagination {
	padding: 5px 10px;
	float: left;
}

#pagination div {
	float: left;
	border: 1px solid #c0e0f9;
	padding: 2px 5px;
	margin: 0px 3px;
}

#pagination div:hover {
	background: #f2f2f2;
}

#pagination a div {
	text-decoration: none;
	color: #8090f0;
}

#pagination div.currentPage {
	color: #990000;
	font-weight: bold;
	background: #f2f2f2;
}

#pagination div.disabledPage {
	color: #f2f2f2;
	background: #ffffff;
	border: 1px solid #f2f2f2
}

#preview_page {
	padding: 15px;
	border: 1px solid #990000;
	background: #f4f4f4;
}

#page_preview { /*border: 1px solid #999;*/
	margin: 10px 10px 10px 10px;
	padding: 0px 2px 10px 12px;
	background-color: #e9e9e9;
	width: auto;
	display: block;
}

#preview_spremenljivka {
	padding: 15px;
	border: 1px solid #990000;
	background: #f4f4f4;
}

#spremenljivka_preview { /*border: 1px solid #999;*/
	margin: 10px 10px 10px 10px;
	padding: 0px 2px 10px 12px;
	width: auto;
	display: block;
}

#spremenljivka_preview .spremenljivka {
	background-color: #e9e9e9;
}

#spremenljivka_preview .container {
	border: 1px solid red;
	padding-bottom: 2px
}

#spremenljivka_preview .content_status {
	border: none;
	padding-bottom: 2px
}

#spremenljivka_preview .content_status span {
	display: inline-table;
}

#spremenljivka_preview .content_div {
	font-size: 12px;
	font-weight: normal;
	padding: 0px 0px 5px 0px;
}

#spremenljivka_preview .content_div div p {
	margin: 0;
	padding: 5px 0px;
}

#spremenljivka_preview .counter {
	float: left;
	width: auto;
	padding-top: 5px;
	display: block;
}

#spremenljivka_preview div.comment {
	font-style: italic;
	color: #666;
	float: left;
	width: 98%;
	padding-top: 5px;
	display: block;
	border-top: 1px dashed #cccccc;
}

#spremenljivka_preview .naslov {
	float: left;
	padding: 0px 0px 0px 5px;
	width: auto;
	min-width: 100px;
	max-width: 100%;
}

#spremenljivka_preview .variable_holder {
	padding: 0px 0px 0px 30px;
	vertical-align: top;
	margin: 0px;
	display: block;
}

#spremenljivka_preview .variable_holder select {
	margin-top: 5px;
}

#spremenljivka_preview .variabla {
	padding: 5px 5px;
}

#spremenljivka_preview .reminder {
	color: red;
	float: left;
	width: auto;
	padding-top: 8px;
	padding-right: 10px;
}

#spremenljivka_preview .ime,#spremenljivka_preview .izbran,#spremenljivka_preview .ranking,#spremenljivka_preview .handle
	{
	font-size: 16px;
	width: 250px;
	height: 25px;
	padding: 5px 0 0 0;
	margin: 15px 0 0 60px;
	border: 1px solid #000000;
	background-color: #DDDDDD;
	text-align: center;
}

#spremenljivka_preview .frame_ranking {
	z-index: 0;
	margin: 30px 0 0 -10px;
	text-indent: 15px;
	font-size: 14px;
	font-weight: bold;
}

#spremenljivka_preview .frame_ranking_in {
	width: 260px;
	height: 30px;
	margin: -25px 0 0 25px;
	border: 1px dashed #000000;
	background-color: #EEEEEE;
	text-indent: -20px;
	padding: 10px 0 0 0;
}

#spremenljivka_preview .frame_ranking_in:hover {
	background-color: #DDDDDD;
}

#spremenljivka_preview .grupa {
	border: 1px none #000000;
	padding: 0px;
	margin: 0px;
}

#spremenljivka_preview .grupa:hover {
	background-color: #e9e9e9;
}

#spremenljivka_preview .footer_survey,#spremenljivka_preview #footer_survey,#spremenljivka_preview .source
	{
	display: none;
}

span .source
.option_disabled {
	color: silver;
}

._branch {
	padding: 0px !important;
	margin: 0px !important;
}

#help_spremenljivka_reminder {
	color: blue;
}

/* help */
a.help,a.edithelp {
	font-size: 11px;
	font-weight: bold;
	color: #3366FF;
}

a.edithelp,a.edithelp:VISITED {
	color: #3366FF;
}

a.help:hover,a.edithelp:hover {
	text-decoration: none;
}

.alert_authors {
	display: block;
	text-indent: 30px;
}

.alert_textarea {
	border: 1px solid silver;
	background-color: gray;
}

#anketa ul.number_list {
	list-style-type: decimal;
}

.noSurvey_note {
	width: auto;
	min-height: 35px;
	padding-left: 105px;
}

.noSurvey_header {
	width: auto;
	min-height: 35px;
	padding-left: 120px;
}

.noSurvey_img {
	float: left;
	width: 30px;
	vertical-align: bottom;
}

.noSurvey_radio {
	float: left;
	width: 30px;
	vertical-align: bottom;
}

.noSurvey_left {
	float: left;
	width: 550px;
}

.noSurvey_right {
	float: right;
	width: 70px;
	position: static;
	bottom: 0px;
}
.noSurvey_button {padding-left:600px;}
#survey_list .noSurvey_header_left fieldset {
	min-height: 60px;
}

#survey_list .noSurvey_header_right fieldset {
	min-height: 60px;
}

/* respondenti */
#survey_respondents {
	width: auto;
	min-height: 350px;
	padding: 10px;
}

.respondent_profile_holder {
	float: left;
	width: 200px;
	height: 290px;
	border: 1px solid #c2c2f9;
	margin: 0px;
}

#respondent_profiles {
	height: 290px;
	overflow: auto;
	cursor: pointer;
}

#respondent_profiles .option {
	padding: 1px;
}

#respondent_profiles .active {
	background-color: navy;
	color: #FFF;
	border-bottom: 1px solid gray;
}

#respondent_profile_values {
	float: left;
	width: 510px;
	margin: 0px;
	display: block;
	height: 330px;
	margin-left: 10px;
}

#respondent_profile_value_text {
	width: 403px;
	height: 245px;
	border: 1px solid #c2c2f9;
	overflow: auto;
}

#respondent_profile_variables_box {
	float: left;
	width: auto;
}

#respondent_profile_variables {
	width: 400px;
}

#respondent_new_dialog,#respondent_rename_dialog,#respondent_delete_dialog
	{
	position: absolute;
	left: 300px;
	top: 250px;
	border: 1px solid #990000;
	z-index: 120;
	background-color: white;
	padding: 10px;
	margin: 10px;
	width: 550px;
	display: none
}

#respondent_profile_right {
	float: left;
	width: 450px;
	height: auto;
	margin-left: 10px;
}

#respondent_profile_notes {
	padding: 5px;
	margin: 0px;
	margin-bottom: 10px;
	line-height: 14px;
	color: black;
	font-size: 11px;
	border: 1px solid #F0CC99;
	background-color: #E8FFC7;
	width: 100%;
}

#respondent_profile_upload {
	padding: 5px;
	margin: 0px;
	color: black;
	border: 1px solid #f2f2f2;
	width: 100%;
}

#respondent_profile_notes ul {
	list-style: square inside;
	margin: 0px;
	padding: 0px;
}

#respondent_profile_notes li {
	padding-bottom: 5px;
}

/* VABILA */
#survey_invitation {
	width: auto;
	height: 350px;
	padding: 10px;
}

.invitation_profile_holder {
	float: left;
	width: 200px;
	height: 290px;
	border: 1px solid #c2c2f9;
	margin: 0px;
}

#invitation_profiles {
	height: 290px;
	overflow: auto;
	cursor: pointer;
}

#invitation_profiles .option {
	padding: 1px;
}

#invitation_profiles .active {
	background-color: navy;
	color: #FFF;
	border-bottom: 1px solid gray;
}

#invitation_profile_values {
	float: left;
	width: 680px;
	margin: 0px;
	display: block;
	height: 330px;
	margin-left: 10px;
}

#invitation_profile_content {
	width: 473px;
	height: 220px;
	border: 1px solid #c2c2f9;
	overflow: auto;
}

#invitation_profile_title {
	width: 470px;
}

#invitation_profile_notes {
	float: left;
	width: 265px;
	height: auto;
	margin: 0px;
	margin-left: 10px;
	padding: 10px;
	line-height: 15px;
	color: black;
	font-size: 11px;
	border: 1px solid #F0CC99;
	background-color: #E8FFC7;
}

#invitation_profile_notes ul {
	list-style: square inside;
	margin: 0px;
	padding: 0px;
}

#invitation_profile_notes li {
	padding-bottom: 5px;
}

#invitation_new_dialog,#invitation_rename_dialog,#invitation_delete_dialog
	{
	position: absolute;
	left: 300px;
	top: 250px;
	border: 1px solid #990000;
	z-index: 120;
	background-color: white;
	padding: 10px;
	margin: 10px;
	width: 550px;
	display: none
}

.email_invitations_holder {
	float: right;
	width: 135px;
	border: 1px solid #c2c2f9;
	height: 260px;
	margin: 0px;
}

#email_invitations .option {
	padding: 1px;
}

#email_invitations {
	height: 260px;
	overflow: auto;
	cursor: pointer;
}

#email_invitations .active {
	background-color: navy;
	color: #FFF;
	border-bottom: 1px solid gray;
}

#email_invitations_values {
	float: left;
	width: 425px;
	margin: 0px;
	display: block;
}

#email_invitation_value_text {
	width: 360px;
	height: 193px;
	border: 1px solid #c2c2f9;
	overflow: auto;
}

table.newQuestionHolder{
	height: 250px;
	min-width: 600px;
	
	margin: 10px auto 0 auto;
	padding-bottom: 10px;

	border: 1px solid #E4E4F9;	
}

table.newQuestionHolder td{
	padding: 0 10px 0 10px;

	vertical-align: top;
}

#firstQuestionHolder {
	padding: 7px;
}

#firstQuestion {
	width: 190px;
	height: auto;
	
	margin: 0 auto 0 auto
}

#firstQuestion .option {
	padding: 1px 15px 1px 5px;
	height: 16px;
}

#firstQuestion .option:hover {
	background-color: #3366ff;
	color: #ffffff;
	cursor: pointer;
}

a.surveycomment {
	color: gray;
}

.hidden_plus {
	display: none;
}

#copy_library_alert {
	padding: 5px;
	border: 1px solid #990000;
	background: white;
}

/*Navigacija knjiĹľnice */
.lib_tabnavigation {
	padding-top: 0px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.lib_tabnavigation ul {
	padding: 0px 0px 7px 0px;
	margin-top: 1px;
	margin-bottom: 0;
	font: 12px Verdana;
	list-style-type: none;
	text-align: left;
	/*set to left, center, or right to align the menu as desired*/
	border-bottom: 1px solid #929492;
	display: block;
	height: 22px;
	overflow: hidden;
}

.lib_tabnavigation li {
	display: inline;
	margin: 0 0 0 0;
	overflow: hidden;
}

.lib_tabnavigation li .lib_tab {
	text-decoration: none;
	padding: 5px 15px 7px 5px;
	margin: 0;
	color: gray;
	font-size: 15px;
	background: transparent url(../../images/tabright2.gif) top right no-repeat;
	background-color: #f2f2f2;
	border-left: 1px solid #949494;
	border-bottom: 1px solid #949494;
	height: 17px;
}

.lib_tab {
	width: auto;
	cursor: pointer;
}

.lib_tabnavigation li .lib_tab:hover {
	background-color: white;
	color: navy;
}

.lib_tabnavigation li .lib_active_tab {
	background-color: white;
	color: navy;
	border-bottom: 1px solid transparent;
}

.lib_tabnavigation li .lib_tab .icons {
	padding-left: 15px;
}

.lib_tabnavigation li .lib_tab .title {
	font-size: 12px;
	font-weight: bold;
	height: 18px;
}

.lib_tabnavigation li .lib_active_tab .title {
	color: #990000;
}

#ques_span {
	width: 46%;
}

#lib_span {
	width: 46%;
	margin-left: 5px;
}

table.text_vrednost {
	text-align: center;
	font-size: 10px;
}
#div_statistic_filters {
	float:right;
}
#div_statistic_date_select {
	display:none;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-top: -200px;
	margin-left: -450px;
	min-height: 150px;
	width: auto;
	max-width:650px;
	z-index: 80;
	padding: 10px;
	background-color: white;
	border: 1px solid #990000;
}
#div_statistic_info {
	width: 31.5%;
	float: left;
	margin-top: 10px;
	border: 1px solid silver;
	padding: 5px;
	min-height: 198px;
}

#div_statistic_answer_state {
	width: 31.5%;
	float: right;
	margin-top: 10px;
	border: 1px solid silver;
	padding: 5px;
	min-height: 198px;
}
#div_statistic_status {
	width: 31.5%;
	float: right;
	margin-top: 10px;
	margin-right: 1%;
	border: 1px solid silver;
	padding: 5px;
	min-height: 198px;
}

#div_statistic_referals {
	width: 31.5%;
	float: left;
	margin-top: 10px;
	border: 1px solid silver;
	padding: 5px;
	min-height: 170px;
}
#div_statistic_pages_state {
	width: 31.5%;
	float: right;
	margin-top: 10px;
	border: 1px solid silver;
	padding: 5px;
	min-height: 198px;
}

#div_statistic_visit {
	width: 31.5%;
	float: right;
	margin-top: 10px;
	margin-right: 1%;
	border: 1px solid silver;
	padding: 5px;
	min-height: 170px;
}

.survey_referals_tbl {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	margin-top: 8px;
}

.survey_referals_tbl td {
	padding: 3px 0px;
}

.survey_referals_tbl th {
	text-align: left;
	white-space: nowrap;
	font-weight: normal;
	padding-right: 5px;
}

#div_statistic_status span {
	display: inline-block;
	width: 180px;
	padding: 2px 0px;
}

#div_statistic_info span {
	display: inline-block;
	width: 95px;
	padding: 2px 0px;
}

#div_statistic_info .infoData {
	margin-left: 155px;
	width: auto;
}

#div_statistic_float_div {
	position: fixed;
	width: 620px;
	max-height: 600px;
	z-index: 90;
	padding: 10px;
	border: 1px solid #990000;
	background-color: white;
	margin: auto auto;
}

#div_statistic_float_div .list {
	margin-left: 20px;
	padding-top: 3px;
}
.graph_lg {background-color:#EAFADA; border:1px solid lightgray; }
.graph_dg {background-color:#D0EBB5; border:1px solid lightgray; }
.graph_ly {background-color:#F4FCDC; border:1px solid lightgray; }
.graph_lr {background-color:#F7EADE; border:1px solid lightgray; }
.spr_editmode{}
.spr_normalmode{}


#div_condition_editing {
	display: none;
	position: fixed;
	top: 10%;
	left: 50%;
	height: auto;
	width: 800px;
	min-height: 200px;
	max-height: 602px;
	margin-left: -400px;
	z-index: 90;
	background-color: #EDEEFF;
	border: 1px solid #990000;
}


#div_condition_editing_close {
	float:right;
	width: auto;
	height: 30px;
	padding:15px 2px 0px 3px;
}

#div_condition_editing_container {
	height:auto;
	overflow: auto;
}

#div_condition_editing_inner {
	width: 100%;
	height: 100%;
	min-height: 150px;
	max-height: 570px;
}
#div_condition_editing_operators {
	padding:10px 0px;
}
.condition_editing_preview {
	padding:10px 10px 0px 10px;
	background-color: white;
	border-bottom: 1px solid #990000;}

.condition_editing_body {
	padding:10px 10px 10px 10px; 
}

#div_condition_editing_conditions {
	margin-bottom: 5px;
	background-color: white;
	padding: 5px;
	color:gray;
}


.tbl_condition_editing {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	border: 1px solid #EDEEFF;
	}
.tbl_condition_editing td {background-color:#EDEEFF}
.tbl_condition_editing th {color:gray;font-weight: normal;}
.tbl_ce_bl {border-left:2px solid #f2f2f2;}
.tbl_ce_br {border-right:2px solid #f2f2f2;}
.tbl_ce_bck_gray {background-color: #f2f2f2;}
.tbl_ce_bck_blue {background-color: #EDEEFF;}

.tbl_ce_lol {
	border-top:1px solid #D5E2E6;
	border-bottom:1px solid #D5E2E6;
	border-left:1px solid #D5E2E6;
	}
.tbl_ce_tb {
	border-top:1px solid #D5E2E6;
	border-bottom:1px solid #D5E2E6;
}
.tbl_ce_lor {
	border-top:1px solid #D5E2E6;
	border-bottom:1px solid #D5E2E6;
	border-right:1px solid #D5E2E6;
	}
#success_save {color: #990000; width: auto; padding:5px; margin: 5px 0px;display: none;}
#tbl_answ_state {	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}
#tbl_answ_state th { text-align: left; font-weight: normal; width: 40%;}
#tbl_answ_state td {border-left: 1px dotted silver; text-align: center; font-weight: normal; width: 20%;}



.statistic_profile_holder {
	float: left;
	width: 190px;
	border: 1px solid gray;
	height: 150px;
	margin: 8px 8px 8px 0px;
}

#statistic_profile {
	height: 150px;
	overflow: auto;
	cursor: pointer;
	width: 190px;
}

#statistic_profile .option {
	padding: 1px;
}

#statistic_profile .active {
	background-color: navy;
	color: #FFF;
	border-bottom: 1px solid gray;
}

#statistic_profile_content {
	float:left;
	width:auto;
	border: 1px solid gray;
	height: 120px;
	margin: 8px 0px 8px 0px;
}
.statistic_profile_button_left_holder {
	float: left;
	width: 210px;
	margin: 8px 8px 8px 0px;
}

.rsdl_bck_title { background-color: #eafada; color: #000000; }
.rsdl_bck_variable0 { background-color: white; }
.rsdl_bck_variable1 { background-color: #f9f9f7; }

.crossCheck_sp0 {}
.crossCheck_sp1 {background-color: #FEFFE3;}
.crossCheck_sp2 {background-color: #FCFFC2;}
.crossCheck_sp3 {background-color: #FBFFA8;}

/* barve bomo porabli za obarvanje velikosti residuala 
.crossCheck_EC {background-color: #FFEEB5;}
.crossCheck_RE {background-color: #FFEAA3;}
.crossCheck_SR {background-color: #FFE58F;}
.crossCheck_AR {background-color: #FFE07A;}

.rsdl_bck0 { background-color: #FFFFFF; }
.rsdl_bck1 { background-color: #F2EDC9; }
.rsdl_bck2 { background-color: #E9E0B5; }
.rsdl_bck3 { background-color: #D7C58D; }
.rsdl_bck4 { background-color: #C6AA64; }
*/

.crossCheck_EC {background-color: #FFFAE8;}
.crossCheck_RE {background-color: #FFF6D1;}
.crossCheck_SR {background-color: #FFECA2;}
.crossCheck_AR {background-color: #FFDA46;}

.rsdl_bck0 { background-color: #FFFFFF; }
.rsdl_bck1 { background-color: #E8F1FF; }
.rsdl_bck2 { background-color: #B9D5FF; }
.rsdl_bck3 { background-color: #74ACFF; }
.rsdl_bck4 { background-color: #0066FF; }

.crostabCell {padding:5px !important;}
.crostabSuma { color: #990000 !important; font-weight: bold;}

.crostab_w50p {width:50% !important;}
.crostab_w33p {width:33.333% !important;}
.crostab_w25p {width:25% !important;}

.img_analysis_f_p a, .img_analysis_f a, .img_analysis_p a {color:gray; cursor: pointer;font-weight: normal;}
.img_analysis_f_p a:HOVER, .img_analysis_f a:HOVER, .img_analysis_p a:HOVER {color:gray;}

#div_anl_frequencys {padding:0px 0px 0px 0px; clear:both;}


#status_profile_holder {
	float: left;
	width: 190px;
	border: 1px solid gray;
	height: 150px;
	margin: 8px 8px 8px 0px;
}

#status_profile, #status_casi {
	height: 150px;
	overflow: auto;
	cursor: pointer;
	width: 190px;
}

#status_profile div.option {
	padding: 1px;
}

#status_profile div.active {
	background-color: navy;
	color: #FFF;
	border-bottom: 1px solid gray;
}
#status_profile_data_holder {
	float: left;
	width: auto;
}
#status_profile_notes {
	width: 480px;
	padding: 5px;
	margin: 0px;
	margin-bottom: 5px;
	line-height: 14px;
	color: black;
	font-size: 11px;
	border: 1px solid #F0CC99;
	background-color: #E8FFC7;
}

#statusProfileFieldsetHolder {
	width: 480px;
	padding: 5px;
	margin: 0px;
	margin-bottom: 5px;
	color: black;
	font-size: 11px;
	background-color: #FAE0B4;
	border: 1px solid #FFC840;
}
dl.dl_spss {margin-bottom:50px; font-size: 12px;}
dl.dl_spss dt {font-weight: bold;}
dl.dl_spss dd {margin:0px 0 2px 85px; padding:0px;}
#div_analysis {
	width:auto;
	height:auto;
}
#div_analiza_archive_name {
	border: 1px solid #990000;

	background-color: white;
	padding: 10px;
	min-width:900px;
	width:auto;
}
.div_curent_archives {
	margin-top:10px;
	border-top:1px dashed #f0f0f0;
	padding:5px;
	padding-top:10px;
	max-height: 300px;
	overflow: auto;
}
.arch_tbl {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.arch_tbl th {
	padding: 3px;
}

.arch_tbl td {
	padding: 3px;
}
#arch_body {
	text-align:center;
	margin: auto;
	margin-top: 20px;
	padding: 0px;
	background: none;
	background-color: white;
	color: #000000;
	font-size: 11px;
	font-family: Verdana, Arial, Sans-Serif;
	width: 100%;
}
#arch_body_div{
	margin: auto;
	width:auto;
	max-width:1024px;
	background-color:white; 
	text-align:center;
}
#div_archives_email_buttons {margin-bottom:10px;}
#div_archives_email_left { width:590px; float: left;}
#div_archives_email_right { width:300px; float: right;}

dl.arch_email{}
dl.arch_email dt{}
dl.arch_email dd{margin-left:60px; position:relative; top:-1.1em}
#email_archive_text {height: 150px;}

#tip_preview { display:none; visibility: hidden;}
#printIcon { display:none; visibility: hidden;}
#anl_single_var_holder {
	margin: 0 auto;
	z-index: 90;
	border: 1px solid blue;
	background-color: #f2f2f2;
}
#div_analiza_single_var_close {
	width: 100%;
	height: 20px;
	color: #DFC762;
	background-color: #2D4A7A;
	border-bottom: 1px solid #990000;
	font-weight: bold;
}
#div_analiza_single_var_close_title {
	float: left;
	height: 17px;
	padding-top: 3px;
	text-indent: 5px;
}
#div_analiza_single_var_close_button {
	float: right;
	width: 20px;
	text-align: center;
	border-left: 1px solid #990000;
	height: 17px;
	padding-top: 3px;
	background-color: #6A83AF;
}
#div_analiza_single_var_close_button :hover {
	background-color: #496594;
	cursor: pointer;
}
#div_analiza_single_var_close_button a {
	text-decoration: none;
	width: 100%;
	height: 100%
}
#div_analiza_single_var_container {
	padding: 10px;
	overflow: auto;
}
#div_analiza_single_var {
	width: 100%; 
	height: 100%;
}
#anl_single_var_holder.freq4desc { width: 800px; height: 500px; max-height: 700px;}
#div_analiza_single_var_close_title.freq4desc {width: 600px;}
#div_analiza_single_var_container.freq4desc {height: 450px;}
#anl_single_var_holder.desc4freq { width: 900px; height: 400px; max-height: 700px;}
#div_analiza_single_var_close_title.desc4freq {width: 800px;}
#div_analiza_single_var_container.desc4freq {height: 350px;}

#firstNavigation,
#secondNavigation,
#secondNavigation_links,
#secondNavigation_links1,
#enka_nav,
#reportabug,
.printHide,
.data_uid {
	visibility: hidden;
	display: none;
}

#anketa_active {
height:50px;
}
table.dashboard td {
	width:33.3% !important;
}
.dashboard_cell {
	display:inline-block;
	width:100% !important;	
	min-height:250px !important;	
}

#branching {
	width:100% !important;
}
#branching ul {
	list-style: none;
	padding:0px !important;
	margin:0px !important;
	}
#toolbox_nastavitve {
	display: none;
}
.spremenljivka_tekst_form,
.content_div_normalmode,
.naslov,
.naslov_inline {
	border: none !important;
	width:100% !important;
}

.chart_holder .chart_img img, .tableChart .chart_img img{
	width: 800px;
}

table#dataTable {
	border-collapse: collapse;
}
table#dataTable tr td, table#dataTable tr th{
	border: 1px black solid;
	text-align: center;
}


.div_analiza_scale
{
	display: none;
}