@charset "UTF-8";
/* 
    Dodaten css za AAI naslovnico
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
* {
  font-family: "Source Sans Pro", "sans-serif";
}

body {
  margin: auto;
  color: #343434;
}

.cookie_notice {
  max-width: 100%;
}
.cookie_notice .right button {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  height: 50px;
  width: 160px;
  padding: 0px;
  color: #FFFFFF;
  background-color: #F07D3E;
  border: 1px solid #F07D3E;
  border-radius: 0;
  transition: 0.3s ease-out;
}
.cookie_notice .right button:hover {
  color: #F07D3E;
  background-color: white;
  border: 1px solid #F07D3E;
}

#main {
  background-color: white !important;
}
#main .main_content {
  max-width: unset !important;
}

/* nav */
.mobile {
  display: none;
}

body.landing_page #content.aai #main {
  background-image: none;
}

header {
  height: unset;
  padding-top: 13px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1160px;
  width: 95%;
  margin: auto;
}
header .nav-desktop span.menu_item {
  margin-left: 32px;
  text-transform: none;
}
header nav span.menu_item {
  border-bottom: 0px;
}
header .nav-desktop span.menu_item a {
  color: #343434;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
header nav span.menu_item a:hover {
  color: #F07D3E;
}
header nav span.menu_item.active {
  border-bottom: unset;
}
header nav span.menu_item.active a {
  color: #F07D3E;
}
header .logo a img {
  height: 45px;
}
header .logo a img:last-of-type {
  margin-left: 32px;
}
header nav span.lang_switch img {
  padding-right: 6px;
}

.flag {
  display: flex;
  align-items: unset;
}

#header-btn {
  display: inline-block;
  color: #FFFFFF !important;
  background-color: #F07D3E;
  border: 1px solid #F07D3E;
  font-weight: 700;
  padding: 6px 20px;
  text-transform: none;
  text-align: center;
}

#header-btn:hover {
  color: #F07D3E !important;
}

.nav-desktop {
  align-items: center;
  padding-bottom: 13px;
}

#header-btn:hover {
  color: #F07D3E;
  background-color: white;
  border: 1px solid #F07D3E;
}

#main .main_content {
  padding: 0px !important;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  width: 95%;
  height: auto;
  padding-top: 105px;
  padding-bottom: 30px;
  margin: auto;
}
.hero-container img {
  max-height: 476px;
}
.hero-container .text {
  text-align: left;
  max-width: 50%;
  margin-right: 10px;
}
.hero-container .text h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 62px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.hero-container .text p {
  max-width: 390px;
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 26px;
}
.hero-container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 11px 16px;
  width: 286px;
  background-color: #F07D3E;
  border: 1px solid #F07D3E;
  color: white;
  background: linear-gradient(to left, #F07D3E 50%, white 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}
.hero-container a:hover {
  background-color: white;
  color: #F07D3E;
  border: 1px solid #F07D3E;
  background-position: left;
}
.hero-container img {
  max-height: 476px;
  max-width: auto;
}

.hero_image {
  position: relative;
  height: 480px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_image img {
  width: 100%;
  height: auto;
}

.div-block-10 {
  z-index: 121;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  text-align: left;
}

.kv-right-col {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.kv-image-3 {
  position: absolute;
  z-index: 0;
  width: 399;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.kv-image-3.l1 {
  display: block;
}

.kv-image-3.i2 {
  display: block;
}

.povezave_container {
  max-width: 100%;
  background-color: #FCFCFC;
}

.pomembne_povezave {
  max-width: 1160px;
  width: 95%;
  padding-top: 110px;
  padding-bottom: 105px;
  margin: auto;
}

.povezave {
  display: flex;
  justify-content: space-between;
}
.povezave h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-top: 25px;
  margin-bottom: 8px;
}
.povezave .col {
  text-align: center;
  max-width: min(254px, 25%);
  flex: 1;
  margin-right: 25px;
}
.povezave .col:last-child {
  margin-right: 0px;
}
.povezave .col p {
  max-width: 253px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 70px;
}

.povezave_img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 1000px) {
  .povezave .col p {
    min-height: 110px;
    margin-bottom: 0px;
  }
}
#povezave-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  background-color: unset;
  border: 1px solid #F07D3E;
  color: #F07D3E;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 11px 16px;
  margin: 0px auto;
  max-width: 165px;
  background: linear-gradient(to left, #FCFCFC 50%, #F07D3E 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}
#povezave-btn:hover {
  color: white;
  background-color: #F07D3E;
  border: 1px solid #F07D3E;
  background-position: left;
}

footer {
  padding-top: 105px;
}
footer h2 {
  color: #343434 !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  padding-bottom: 12px;
}
footer .footer_content {
  max-width: 1160px;
  width: 95%;
  margin: auto;
  padding: 0px;
  justify-content: space-between;
}
footer .footer_content .col {
  max-width: 254px;
  margin-right: unset;
}
footer .footer_content .col span {
  font-weight: 400;
  padding-top: 0px;
  padding-bottom: 12px;
}
footer .footer_content .col span a {
  color: #343434;
}
footer .footer_content .col .logo_holder {
  margin: 0px;
}
footer .footer_content .col .logo_holder img {
  margin-bottom: 25px;
  text-align: left;
}
footer .footer_content .col .logo_holder img.arnes-logo {
  max-width: 145px;
}
footer .footer_content .col1 .col1-flex {
  display: flex;
  flex-direction: column;
}
footer .footer_content .col4 h2 {
  padding-bottom: 24px;
}
footer .col a {
  color: #343434;
  font-size: 16px;
  line-height: 26px;
}

footer .footer_content .col3 .social_logo_flex a:first-of-type {
  margin-right: 0px;
}

.social_logo_flex img {
  margin-right: 20px;
}

.social_logo_flex img:hover {
  opacity: 0.8;
}

.arnes-logo {
  height: 45px;
}

/* GDPR ZAHTEVEK -------------------------------------- */
body.gdpr {
  line-height: 20px;
}

.gdpr #main .main_content {
  padding: 0px;
}

.register_holder {
  max-width: 810px;
  width: 95%;
  margin: 70px auto 70px auto;
}
.register_holder h1 {
  font-size: 50px;
  font-weight: 300;
  line-height: 62px;
  margin: 20px 0px;
}
.register_holder p {
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0px;
}
.register_holder p a {
  color: #1e88e5;
}

body.gdpr div.label {
  display: block;
  line-height: unset;
  font-weight: 600;
  width: 200px;
  line-height: unset;
}

body #main .main_content .register_holder .label {
  line-height: 20px;
  padding-bottom: 4px;
}

body.gdpr .input_field div.label label {
  line-height: unset;
  padding-bottom: 4px;
}

.regfield {
  height: 38px;
  max-width: 245px;
  width: 95%;
  border: 1px solid #C4C4C4;
  border-radius: 0px;
  padding: 0px;
  padding-left: 8px;
  margin: 0px;
}

body .gdpr form p:first-of-type {
  font-weight: 600;
}

body.gdpr div.input_field {
  padding: 10px 0px;
}

/* Elektronski naslov:  */
body.gdpr div.input_field:first-of-type {
  padding-top: 0px;
}

/* URL ankete:  */
body.gdpr div.input_field:nth-of-type(3) {
  padding-bottom: 0px;
}

/* Želim podati zahtevo za:  */
form p:first-of-type {
  margin: 20px 0px 6px 0px;
}

body.gdpr div.zahtevek {
  padding: 6px 0px;
}

body.gdpr div.zahtevek:last-of-type {
  padding-bottom: 0px;
}

body.gdpr div.zahtevek label input {
  margin-right: 2px;
  margin-left: 0px;
  height: 18px;
  width: 18px;
  vertical-align: -1px;
  border-radius: 0px;
}

/* tekst nad poljem za opis */
form p:nth-of-type(2) {
  margin: 20px 0px;
}

form .opis {
  font-weight: 600;
  margin: 0px 0px 4px 0px;
}

#gdpr-note {
  padding: 0px;
  padding-left: 8px;
  margin: 0px;
  width: 100%;
  border-radius: 0px;
}

.register_holder p:last-of-type {
  margin: 18px 0px 20px 0px;
  line-height: 26px;
}

input[type=submit],
button,
input[type=button],
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  height: 50px;
  max-width: 320px;
  width: 95%;
  padding: 0px;
  color: #FFFFFF;
  background-color: #F07D3E;
  border: 1px solid #F07D3E;
  transition: 0.3s ease-out;
}
input[type=submit]:hover,
button:hover,
input[type=button]:hover,
.button:hover {
  color: #F07D3E;
  background-color: white;
  border: 1px solid #F07D3E;
}

/* -------------------------------------- */
@media screen and (max-width: 834px) {
  header {
    margin: none;
    /* header - arnes logo fix */
  }
  header .logo {
    width: auto;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 70px;
    padding-bottom: 50px;
    height: auto;
  }
  .hero-container .hero_image {
    width: 100%;
    position: unset;
  }
  .hero-container .text {
    margin: auto;
    text-align: center;
  }
  .hero-container .text h1 {
    margin-top: 30px !important;
  }
  .hero-container .text p {
    margin-bottom: 25px;
    max-width: 390px;
  }
  .hero-container .text a {
    width: 80%;
    max-width: 280px;
    margin: auto;
  }
  .register_holder {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .pomembne_povezave {
    padding-top: 68px;
    padding-bottom: 70px;
  }
  .povezave {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .povezave .col {
    margin-top: 50px;
    width: auto;
    max-width: none;
  }
  .povezave .col p {
    max-width: 392px;
    min-height: unset;
    margin-bottom: 25px;
  }
  .povezave .col:last-child {
    margin-right: 25px;
  }
  .title {
    margin-bottom: 0px;
  }
  #povezave-btn {
    margin: 0px auto;
  }
  footer {
    padding: 70px 0px 0px 0px;
  }
  footer .footer_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  footer .footer_content .col {
    max-width: 100%;
    width: auto;
  }
  footer .footer_content .col .logo_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
  footer .footer_content .col .logo_holder img {
    max-width: 33%;
    height: auto;
    margin: 0px;
  }
  footer .footer_content .col1 {
    grid-row: 1/3;
  }
  footer .footer_content .col1 .col1-flex {
    display: flex;
    flex-direction: column;
  }
  footer .footer_content .col4 {
    grid-column: 2/4;
  }
  footer .footer_content .col4 h2 {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 740px) {
  body.landing_page #main .main_content {
    padding: 0px;
  }
  body #main .main_content h1 {
    font-size: 50px;
  }
  header .logo a img {
    max-height: 29px;
    max-width: 95px;
  }
  header .logo a img:last-of-type {
    margin-left: 12px;
  }
  .hero-container {
    padding-top: 50px;
  }
  .hero-container .text {
    max-width: 100%;
  }
  .hero-container .text a {
    color: white;
  }
  .hero-container .text a:hover {
    width: 95%;
    border: 1px solid #F07D3E;
    color: #F07D3E;
    background-color: white;
  }
  .hero-container img {
    max-width: 80%;
  }
  .register_holder {
    margin-top: 50px;
    margin-bottom: 46px;
  }
  body #main .main_content .register_holder h1 {
    text-align: unset;
    padding: 0px;
  }
  .pomembne_povezave {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .title {
    margin-bottom: 49px;
    margin-top: 0px;
  }
  .povezave {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .povezave .col {
    margin: 50px 20px 20px 0px;
  }
  .povezave .col p {
    min-height: unset;
  }
  .povezave .col:nth-of-type(1),
.povezave .col:nth-of-type(3),
.povezave .col:nth-of-type(2),
.povezave .col:nth-of-type(4) {
    margin: auto;
    margin-bottom: 30px;
  }
  .povezave .col:nth-of-type(4) {
    margin-bottom: 0px;
  }
  /* --------------HAMBURGER---------------------------------- */
  .nav-desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  #nav-icon3 {
    width: 38px;
    height: 20px;
    position: relative;
    bottom: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #F07D3E;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 9px;
  }
  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }
  #nav-icon3.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon3.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  #links {
    display: none;
  }
  /*  */
  .aai a {
    color: #333333;
  }
  #links.open {
    position: absolute;
    top: 55px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
  #links .menu_item {
    font-size: 30px;
    margin-top: 30px;
  }
  #links .menu_item a {
    font-size: 16px;
  }
  footer {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
  }
  footer .footer_content {
    /* background-color: rgb(184, 184, 184); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .footer_content h2 {
    padding-top: 12px;
  }
  footer .footer_content .col {
    /* border: 1px solid red; */
    width: auto;
    max-height: 180px;
    text-align: left;
  }
  footer .footer_content .col span {
    padding-bottom: 16px;
  }
  footer .footer_content .col .logo_holder {
    flex-direction: column;
    justify-content: unset;
  }
  footer .footer_content .col .logo_holder img {
    max-width: unset;
    padding-bottom: 12px;
  }
  footer .footer_content .col1 .col1-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 130px;
  }
  footer .footer_content .col1 {
    max-width: 100%;
    width: 100%;
    /* border: 1px solid red; */
  }
  footer .footer_content .col2,
footer .footer_content .col3 {
    max-width: 50%;
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  body #main .main_content input[type=submit],
body #main .main_content input[type=button] {
    display: block;
    width: 100%;
    margin: 20px 0px !important;
  }
}
@media screen and (max-width: 600px) {
  .hero_image {
    height: 300px;
  }
}
@media screen and (max-width: 450px) {
  .hero_image {
    height: 200px;
  }
}
@media screen and (max-width: 365px) {
  footer .footer_content {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  footer .footer_content .col {
    max-height: unset;
    text-align: center;
  }
  footer .footer_content .col h2 {
    text-align: center;
  }
  footer .footer_content .col1 .col1-flex {
    max-height: unset;
    align-items: center;
  }
  footer .footer_content .col3 {
    max-width: unset;
    width: unset;
  }
  footer .footer_content .col3 .social_logo_flex {
    padding-left: 10px;
  }
}

/*# sourceMappingURL=aai.css.map */
