/* 1KA new default theme */

body {
	margin: 0;
	padding: 0;

    color: #333;
    font-size: 75%;
	font-family: Arial, Verdana, Sans-Serif;
	font-family: Open Sans, Arial, Sans-Serif !important;
	
	background: #eff2f7;
}
body.preview, body.testdata{
	margin-top: 26px;
}

#outercontainer {
	width: 100%;
	margin: 0 auto;
	
	background: #ffffff url('1ka/header.png') top left repeat-x;
}
#container {
	position: relative;
	
	width: 100%;
	max-width: 980px;
	margin: 0px auto 10px;
}


/* Warning bar (preview, cookie) */
#cookie_alert, #test_alert {   
    height: 26px;
	
	line-height: 25px;
	color: #ffffff;
	
	background-color: #fe9c5c;
    border-bottom: 1px solid #fe9c5c;
}
#cookie_alert a, #test_alert a {
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
#cookie_alert a:hover, #test_alert a:hover {
	text-decoration: underline;
}
#cookie_alert span, #test_alert span {
    color: #ffffff;
}
#cookie_alert span a, #test_alert span a {
	color: #ffffff;
	font-weight: normal;
}


/* Header - logo, naslov, progressbar */
h1 {
    margin: 0px auto 50px;
	padding: 130px 0 0 0;
	
	font-size: 22px;
	color: #0c377a;
    text-align: center;
}
h1.evalvacija{
	margin-bottom: 0;
}

#logo {
	right: auto;
	left: 20px;
	top: 24px;
	
	background: url("../../../public/img/logo/1ka_slo.svg") no-repeat scroll 0 0 transparent;
	background-repeat: no-repeat;
}
#logo.english{
	background: url("../../../public/img/logo/1ka_eng.svg") no-repeat scroll 0 0 transparent;
}
#logo a{
	width: 80px;
	height: 46px;
}

#progress_bar {
	right: 20px;
	left: auto;
	top: 30px;
}
#progress_bar span {
	float: left !important;	/* ie6,7 doesnt support inline-block */
	display: block;
	width: 20px;
	
	font-size: 11px;
	color: #6D87AF;
}
#progress_bar div {
	height: 10px;
	width: 130px;
	padding: 2px;
	margin: 0 5px;
	
	border: 1px #cccccc solid;
	background-color: #ffffff;
}
#progress_bar div span {
	height: 10px;
	background-color: #0C377A;
}
#progress_bar p a {
	color: #0C377A;
	text-decoration: none;
}
#progress_bar p a:hover {
	color: #fa4913;
}


/* Spremenljivke */
.spremenljivka {
    margin: 20px 10px 20px 10px;
    padding: 20px 2px 20px 12px !important;
	
	border-top: 1px #B9C5D9 solid;
	
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);*/
}
.spremenljivka.limited{
	outline: 1px #F15A24 solid;
}
.required, .required_require, .required_limit {
	outline: 1px #F15A24 solid;
}

.spremenljivka .naslov{
	padding-left: 5px;
	font-size: 16px;
}
.spremenljivka .naslov .spremenljivka_info{
	font-size: 70%;
}

.spremenljivka .counter{
	font-size: 16px;
}

div.variabla, 
td.variabla,
td.question,
td.differential{
	font-size: 13px;
}

div.variable_holder {
	padding: 0 30px;
}

div.variable_holder thead {
	font-weight: 600;
}
table.grid_table tbody tr:nth-child(2n+1) {
	background-color: #EFF2F7;
}

div.variable_holder .frame_ranking{
	border: 1px #B9C5D9 solid;
	background-color: #EFF2F7;
}
div.variable_holder .frame_ranking_hover {
	border: 1px #8A9FBF solid;
	background-color: #CED7E4;
}

span.reminder {
	left: 3px;
}

input[type="text"], textarea, select{
	padding: 2px 4px;
	background: #fff;
}


/* Gumbi na dnu */
div.buttons {
	padding: 30px 20px 35px;
	margin: 0 10px;
	
	border-top: 1px #B9C5D9 solid;
}
div.buttons input {
	cursor: pointer;
	
	margin: 8px 10px;
    /*padding: 7px 11px;*/
	padding: 6px 8px;
	
	text-align: center;
	/*font-size: 15px;*/
	font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
	
	border-radius: 4px;
	border: 0; 
}
div.buttons input.next {
	background-color: #3D5F95;
	border: 1px solid #3D5F95;
}
div.buttons input.next:hover {
	background-color: #fe8333;
	border: 1px solid #fe8333;
}
div.buttons input.prev {
	color: #3D5F95;
	background-color: #ffffff;
	border: 1px solid #3D5F95;
}
div.buttons input.prev:hover {
	color: #FFFFFF;
	background-color: #3D5F95;
}


/* Footer */
#footer_survey {
	padding: 20px;
	
	background-color: #eff2f7;
	border-top: 1px #b9c5d9 solid;
}
#footer_survey a, #footer_survey a:visited {
	color: #6d87af;
	text-decoration: none;
}
#footer_survey a:hover, #footer_survey a:active {
	text-decoration: underline;
}


/* awesome radio in checkboxi */
input[type="checkbox"] + span.enka-checkbox-radio,
input[type="radio"] + span.enka-checkbox-radio,
.custom_radio_picture.obarvan > label > span.enka-custom-radio:before{
	color: #3D5F95;
}


