/*
	CDI tema - Siva barva z logotipom
*/
/* Barve */
/* Import osnovne postavitve */
/*
	Osnovna tema ankete - 1ka - brez definiranih barv
*/
/* Barve */
/* Fonti */
body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 100%;
  font-family: Source Sans Pro, sans-serif !important;
  background: #ffffff;
}

body.preview, body.testdata {
  margin-top: 26px;
}

#outercontainer {
  width: 100%;
  margin: 0 auto;
}
#outercontainer .outercontainer_header {
  position: absolute;
  width: 100%;
  height: 80px;
  border-bottom: 2px #666666 solid;
}
#outercontainer #container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 16px;
  box-sizing: border-box;
}

/* Warning bar (preview, cookie) */
#cookie_alert,
#test_alert {
  height: 26px;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  background-color: #ffa608;
  border-bottom: 1px solid #ffa608;
}
#cookie_alert a,
#test_alert a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
#cookie_alert a:hover,
#test_alert a:hover {
  text-decoration: underline;
}
#cookie_alert span,
#test_alert span {
  color: #ffffff;
}
#cookie_alert span a,
#test_alert span a {
  color: #ffffff;
  font-weight: normal;
}

/* Header - logo, naslov, progressbar */
h1 {
  margin: 0px auto;
  padding: 114px 0 32px 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #E5E5E5;
}

h1.evalvacija {
  margin-bottom: 0;
}

#logo {
  right: auto;
  left: 16px;
  top: 13px;
  max-height: 56px !important;
  background: url("../../../public/img/logo/1ka_logo_slo.svg");
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;
}
#logo a {
  width: 250px;
  height: 56px;
}

#logo.english {
  background: url("../../../public/img/logo/1ka_logo_eng.svg");
}

#logo.namestitev {
  background: url("../../../public/img/logo/1ka_logo_namestitev.svg");
}

#logo.namestitev.english {
  background: url("../../../public/img/logo/1ka_logo_installation.svg");
}

#logo.arnes {
  background: url("../../../public/img/logo/1ka_logo_arnes.svg");
}

.header_settings_holder {
  top: 0px;
  right: 20px;
  left: auto;
}
.header_settings_holder .progress_bar span {
  float: left !important; /* ie6,7 doesnt support inline-block */
  display: block;
  width: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #6D87AF;
}
.header_settings_holder .progress_bar div {
  height: 10px;
  width: 130px;
  padding: 2px;
  margin: 0 5px;
  border: 1px #cccccc solid;
  background-color: #ffffff;
}
.header_settings_holder .progress_bar div span {
  height: 10px;
  background-color: #666666;
}
.header_settings_holder .progress_bar p a {
  color: #666666;
  text-decoration: none;
}
.header_settings_holder .progress_bar p a:hover {
  color: #8c8c8c;
}
.header_settings_holder .continue_later_setting a {
  color: #666666;
}
.header_settings_holder .continue_later_setting a:hover {
  color: #8c8c8c;
}
.header_settings_holder .tawk_chat a {
  color: #666666;
}
.header_settings_holder .tawk_chat a:hover {
  color: #8c8c8c;
}

/* Uvod in zakljucek */
.intro .spremenljivka .naslov,
.concl .spremenljivka .naslov {
  margin: 0;
}

#continue_later input[type=email],
#return_edit input[type=email] {
  margin-left: 4px;
}
#continue_later button,
#return_edit button {
  padding: 7px 20px;
  margin-left: 4px;
}

/* Spremenljivke */
.spremenljivka {
  margin: 0;
  padding: 48px 16px !important;
  border-bottom: 1px #E5E5E5 solid;
}
.spremenljivka .naslov {
  padding: 0 !important;
  margin: 0 0 24px 0;
  font-size: 20px;
  font-weight: 600;
}
.spremenljivka .naslov .spremenljivka_info {
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
}
.spremenljivka .sequence_number {
  background-color: #eeeeee;
  color: #888888;
}
.spremenljivka .sequence_number:hover {
  background-color: #d5d5d5;
}
.spremenljivka .sequence_number.active {
  background-color: #888888;
  color: #ffffff;
}
.spremenljivka .counter {
  font-size: 18px;
}
.spremenljivka #dynamic_count {
  color: #666666;
}
.spremenljivka .arrow {
  color: #666666;
}
.spremenljivka .arrow:hover {
  color: #8c8c8c;
}
.spremenljivka span.reminder {
  left: 3px;
  text-indent: 0;
}

.spremenljivka.limited {
  outline: 1px #F15A24 solid;
}

.required, .required_require, .required_limit {
  outline: 1px #F15A24 solid;
}

.spremenljivka.tip_1 .variabla,
.spremenljivka.tip_2 .variabla {
  display: flex;
  align-items: center;
}
.spremenljivka.tip_1 .variabla.floatLeft,
.spremenljivka.tip_2 .variabla.floatLeft {
  margin-right: 16px;
}
.spremenljivka.tip_1 .variabla label,
.spremenljivka.tip_2 .variabla label {
  display: flex;
  line-height: 23px;
}
.spremenljivka.tip_1 .variabla input[type=text].input_other,
.spremenljivka.tip_1 .variabla textarea.input_other,
.spremenljivka.tip_2 .variabla input[type=text].input_other,
.spremenljivka.tip_2 .variabla textarea.input_other {
  margin: 0 0 0 8px;
}
.spremenljivka.tip_1 .custom_radio_picture,
.spremenljivka.tip_1 .visual-radio-scale,
.spremenljivka.tip_2 .custom_radio_picture,
.spremenljivka.tip_2 .visual-radio-scale {
  display: inline-block;
  margin-right: 24px;
}
.spremenljivka.tip_1 .custom_radio_picture label,
.spremenljivka.tip_1 .visual-radio-scale label,
.spremenljivka.tip_2 .custom_radio_picture label,
.spremenljivka.tip_2 .visual-radio-scale label {
  display: inline-block !important;
}

.spremenljivka.tip_7 input.width_100:not(:first-of-type) {
  margin-top: 16px;
}

.variabla.missing:first-of-type {
  margin-top: 16px;
}

.spremenljivka .variabla.missing label {
  padding: 0;
}

div.variabla,
td.variabla,
td.question,
td.differential,
.variabla_sum label {
  font-size: 16px;
}

div.variable_holder {
  padding: 0 !important;
}
div.variable_holder .variabla {
  padding: 0;
  margin-bottom: 16px;
}
div.variable_holder .variabla:last-child {
  margin-bottom: 0;
}
div.variable_holder thead,
div.variable_holder tr.table-header {
  font-weight: normal;
  font-size: 16px;
}
div.variable_holder thead td,
div.variable_holder tr.table-header td {
  padding: 10px 5px;
}

table.grid_table tbody tr.table-header td {
  border-top: 2px #888888 solid;
  background-color: #ffffff;
}
table.grid_table tbody tr:nth-child(2n+1) {
  background-color: #eeeeee;
}
table.grid_table tbody tr:nth-child(2n) {
  background-color: #ffffff;
}
table.grid_table td {
  padding: 12px 16px;
}

/* Textboxi, textarea, select */
input, textarea, select {
  font-family: Source Sans Pro, sans-serif !important;
}

input[type=text], textarea, select {
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #fff;
}

/* ranking */
.dropzone {
  margin-top: 12px;
  padding-top: 17px;
}

table.ranking_table ul {
  margin-top: 19px;
}

.ranking,
.ranking_long,
.handle,
.handle_long,
.ime,
.izbran,
.frame_ranking,
.frame_ranking_hover,
.frame_dropping,
.frame_dropping_hover,
.frame_moving {
  font-size: 16px;
  padding: 8px 12px 14px;
  border: 2px solid #666666;
  background-color: #ffffff;
}

.ranking:hover {
  background-color: #f5fafe;
}

div.variable_holder .frame_ranking_hover {
  border: 2px #666666 solid;
  background-color: #eeeeee;
}

div.variable_holder .frame_ranking,
div.variable_holder .frame_moving,
div.variable_holder .frame_dropping,
div.variable_holder .frame_dropping_hover {
  text-indent: -35px;
  border: 2px #888888 solid;
  background-color: #eeeeee;
}

table.ranking_table b {
  font-size: 16px;
  font-weight: 600;
}

/* Photo upload button */
button.record_foto {
  border: 2px solid #666666;
}
button.record_foto::before {
  color: #666666;
}
button.record_foto:hover, button.record_foto:focus {
  border-color: #8c8c8c;
}
button.record_foto:hover::before, button.record_foto:focus::before {
  color: #8c8c8c;
}

/* Koledar */
.ui-datepicker {
  font-size: 14px;
}

button.ui-datepicker-trigger {
  color: #666666;
}
button.ui-datepicker-trigger:hover, button.ui-datepicker-trigger:focus {
  color: #8c8c8c;
}

/* Slider */
.grupa .spremenljivka .ui-slider-pips .ui-slider-pip {
  color: #333333;
}
.grupa .spremenljivka .slider.ui-widget-content {
  /*background-color: $color_light !important;*/
  background-image: none !important;
  border: 0;
}
.grupa .spremenljivka .ui-slider-horizontal {
  height: 8px;
}
.grupa .spremenljivka .ui-slider-handle {
  cursor: pointer;
  height: 10px !important;
  width: 18px !important;
  margin-top: 1px;
  border: 0;
  border-radius: 15px 15px !important;
  background-color: #666666 !important;
  background-image: none !important;
}
.grupa .spremenljivka .ui-slider-handle:active {
  background-color: #666666 !important;
}
.grupa .spremenljivka .sliderText {
  padding-top: 2px;
  color: #333333;
  background-color: #888888;
  border: 0;
}
.grupa .spremenljivka .sliderText::after {
  border-color: #888888 transparent;
}

/* Warning levo od vprasanja */
.validation_alert {
  position: absolute;
  z-index: 51;
  top: 20px;
  left: -150px;
  width: 130px;
  min-height: 29px;
  margin: 0;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  background-color: #eeeeee;
  border: 2px solid red;
  padding: 4px 7px;
  border-radius: 4px;
  box-shadow: none;
}

/* Gumbi na dnu */
div.buttons {
  padding: 64px 0;
  margin: 0;
}
div.buttons input {
  cursor: pointer;
  margin: 8px 10px;
  padding: 0 32px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  border: 0;
  transition: 0.3s;
}
div.buttons input.next {
  background-color: #666666;
  border: 1px solid #666666;
}
div.buttons input.next:hover, div.buttons input.next:focus {
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c;
}
div.buttons input.prev {
  color: #666666;
  background-color: #fff;
  border: 1px solid #666666;
}
div.buttons input.prev:hover, div.buttons input.prev:focus {
  color: #fff;
  background-color: #666666;
}

/* Footer */
#footer_survey {
  padding: 48px 0 64px 0;
  background-color: #ffffff;
  border-top: 1px #E5E5E5 solid;
}
#footer_survey p, #footer_survey a, #footer_survey a:visited {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  text-decoration: none;
}
#footer_survey a:hover, #footer_survey a:active {
  text-decoration: none;
}

/* awesome radio in checkboxi */
input[type=checkbox] + span.enka-checkbox-radio,
input[type=radio] + span.enka-checkbox-radio,
.custom_radio_picture.obarvan > label > span.enka-custom-radio:before,
.visual-radio-scale.checked .enka-vizualna-skala {
  color: #888888;
  font-size: 20px;
  vertical-align: -1px;
}

input[type=checkbox]:focus + span.enka-checkbox-radio:before,
input[type=radio]:focus + span.enka-checkbox-radio:before,
input[type=radio]:focus + span.enka-custom-radio:before,
input[type=radio]:focus + span.enka-vizualna-skala::before {
  color: #484848;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #888888;
}

/* Ranking drag drop */
.drag_and_drop {
  top: -9px;
  left: -12px;
}

.drag_and_drop_right {
  top: -9px !important;
  left: -12px !important;
}

.frame_dropping_titles {
  width: 244px;
  padding: 5px;
  margin: 0px auto 0px auto;
  height: 20px;
  text-align: center;
  background-color: #FFFFFF;
  border-top: 2px solid #b9c5d9;
  border-left: 2px solid #b9c5d9;
  border-right: 2px solid #b9c5d9;
  font-size: 16px;
}

.drag_and_drop_box {
  top: -9px;
  left: -12px;
}
.drag_and_drop_box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.drag_and_drop_box_right {
  top: 19px !important;
  left: -12px !important;
}

.drag_and_drop_box_right_after_refresh {
  /*top: 44px!important;*/
  left: -12px !important;
}

.drag_and_drop_box_right_over {
  left: -12px !important;
}

.frame_dropping_titles_box {
  width: 244px;
  padding: 5px;
  margin: 0px auto 0px auto;
  height: 20px;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 16px;
}

.frame_dropping {
  width: 234px;
  padding: 7px 10px 9px;
}

.frame_dropping_box {
  padding: 7px 10px 9px;
}

/* Popravimo se logo */
#logo {
  background-image: url("../../../public/img/logo/cdi_slo.png") !important;
}

#logo.english {
  background-image: url("../../../public/img/logo/cdi_eng.png") !important;
}

/*# sourceMappingURL=Cdi.css.map */
