/*
	Mobile tema ankete - Zelena barva
*/
/* Barve */
/* Import osnovne postavitve */
/*
	Osnovna mobilna tema ankete - 1ka - brez definiranih barv
*/
/* Fonti */
body {
  font-family: Source Sans Pro, sans-serif !important;
  color: #333;
  background-color: white;
}

span, label {
  color: #333;
}

/* GLAVNI ELEMENTI */
#container h1 {
  color: #2e7d3a;
  background-color: #ffffff;
  border-bottom: 2px #2e7d3a solid;
}

/* INPUT ELEMENTI */
/* Textboxi, textarea, select */
input, textarea, select {
  font-family: Source Sans Pro, sans-serif !important;
}

input[type=text], textarea, select {
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #fff;
}

input[type=checkbox] + span.enka-checkbox-radio,
input[type=radio] + span.enka-checkbox-radio,
.custom_radio_picture.obarvan > label > span.enka-custom-radio:before,
.visual-radio-scale.checked .enka-vizualna-skala {
  color: #66bb6a;
}

.grupa .spremenljivka {
  background-color: white;
  border: 0;
  border-bottom: 1px #E5E5E5 solid;
  /* Mejnik pri dvojni tabeli */
}
.grupa .spremenljivka:last-of-type {
  border-bottom: 0;
}
.grupa .spremenljivka .naslov {
  color: #333;
}
.grupa .spremenljivka .naslov .spremenljivka_info {
  color: #333;
}
.grupa .spremenljivka .sequence_number {
  background-color: #e2f2e2;
  color: #66bb6a;
}
.grupa .spremenljivka .sequence_number:hover {
  background-color: #bee2c0;
}
.grupa .spremenljivka .sequence_number.active {
  background-color: #66bb6a;
  color: #ffffff;
}
.grupa .spremenljivka .slider_mobile {
  background-color: #a0aec1;
  border: 0;
}
.grupa .spremenljivka .ui-slider-horizontal {
  height: 8px;
}
.grupa .spremenljivka .ui-slider-handle {
  cursor: pointer;
  height: 10px !important;
  width: 18px !important;
  margin-top: 1px;
  border: 0;
  border-radius: 15px 15px !important;
  background-color: #2e7d3a !important;
  background-image: none !important;
}
.grupa .spremenljivka .ui-slider-handle:active {
  background-color: #2e7d3a !important;
}
.grupa .spremenljivka .sliderText {
  padding-top: 0;
  color: white;
  background-color: #a0aec1;
  border: 0;
}
.grupa .spremenljivka .sliderText::after {
  border-color: #a0aec1 transparent;
}
.grupa .spremenljivka .grid_mobile .grid_mobile_question {
  padding-top: 15px;
  border-top: 1px #b4b5b7 solid;
}
.grupa .spremenljivka .grid_mobile > div:first-child {
  padding-top: 0 !important;
  border-top: 0 !important;
}
.grupa .spremenljivka .grid_mobile_double_separator {
  width: 100%;
  height: 5px;
  border-top: 1px #e2f2e2 dashed;
}

.variable_holder .variabla {
  color: #333;
}

/* Koledar */
button.ui-datepicker-trigger {
  color: #2e7d3a;
}
button.ui-datepicker-trigger:hover {
  color: #43b554;
}

/* Opcija nadaljuj kasneje */
.header_settings_holder .continue_later_setting a {
  color: #2e7d3a;
}
.header_settings_holder .continue_later_setting a:hover {
  color: #43b554;
}
.header_settings_holder .tawk_chat a {
  color: #2e7d3a;
}
.header_settings_holder .tawk_chat a:hover {
  color: #43b554;
}

/* GUMBI NAPREJ/NAZAJ */
.buttons {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px #E5E5E5 solid !important;
}
.buttons input {
  cursor: pointer;
  margin: 8px 5px;
  padding: 10px 24px !important;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #FFFFFF;
  border: 0;
  transition: 0.3s;
}
.buttons input.next {
  background-color: #2e7d3a;
  border: 1px solid #2e7d3a;
}
.buttons input.next:hover {
  background-color: #43b554;
  border: 1px solid #43b554;
}
.buttons input.prev {
  color: #2e7d3a;
  background-color: #fff;
  border: 1px solid #2e7d3a;
}
.buttons input.prev:hover {
  color: #fff;
  background-color: #2e7d3a;
}

/* FOOTER */
#footer_survey {
  color: #333;
  border-top: 1px #E5E5E5 solid;
}
#footer_survey a {
  font-weight: normal;
  text-decoration: none;
  color: #333;
}

/* LOGO */
#container #logo {
  display: none !important;
}

#footer_survey #logo {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin: 10px auto 30px auto;
  left: 0;
  right: 0;
  background-image: url("../../../public/img/logo/1ka_logo_slo.svg");
  background-repeat: no-repeat;
  background-size: auto 100% !important;
  background-position: center;
  /* Desni del samo za skine Otroci3 in Otroci4 */
}
#footer_survey #logo a {
  display: block;
  width: 100%;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
}
#footer_survey #logo #logo_right {
  display: none;
}

#footer_survey #logo.english {
  background-image: url("../../../public/img/logo/1ka_logo_eng.svg");
}

#footer_survey #logo.namestitev {
  background-image: url("../../../public/img/logo/1ka_logo_namestitev.svg");
}

#footer_survey #logo.namestitev.english {
  background-image: url("../../../public/img/logo/1ka_logo_installation.svg");
}

#footer_survey #logo.arnes {
  background-image: url("../../../public/img/logo/1ka_logo_arnes.svg");
}

/*# sourceMappingURL=MobileGreen.css.map */
